<template>
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-5 py-5"><img class="rounded mt-5" :src="model.
            image"><span class="font-weight-bold">{{ model.brands }}</span><span class="text-black-50">{{ model.name }}</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Add/Edit Vehicles</h4>
                </div>
                <div class="row mt-2">
                    <base-input label="Code" name="code" placeholder="Code/Plat No" required v-model="model.code"/>
                    <base-input label="Name" name="name" placeholder="name" required v-model="model.name"/>
                </div>
                <div class="row mt-3">
                    <div class="col">
                    <base-input label="Office" name="office" placeholder="Office" required v-model="model.office"/>
                    <base-input label="Brands" name="brands" placeholder="Brands" required v-model="model.brand"/>
                    <base-input label="Category" name="category" placeholder="Code/Plat No" required v-model="model.category"/>
                    </div>
                </div>
                
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <base-input label="Passenger(s)" name="passengers" placeholder="Number of passengers" required v-model="model.passenger"/>
                <base-input label="Year" name="year" placeholder="Year" required v-model="model.year"/>
            </div>
        </div>
    </div>
</div>
</template>
<script>
export default {
    components:{

    },
    data() {
        return {
            model:{
                id: '1',
                code : 'L 1211',
                name : 'Supra',
                desc : 'Sports Car',
                office : '',
                fleet_pricing : '',
                brands : 'Totoya',
                category : '',
                passenger : '2',
                year : '2015',
                image : 'https://picsum.photos/200/300',
            }
        }
    },
    
}
</script>
