<template>
  <div>
    <base-header class="pb-6" type="">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 d-inline-block mb-0">Welcome To On-Journey</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links">
              <li class="breadcrumb-item">
                <router-link to="/"><i class="fas fa-home"></i></router-link>
              </li>
              <li class="ml-2 mr-2">/</li>
              <li class="h4 text-black">Dashboards</li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <base-button class="Primary" size="sm" type="neutral">New</base-button>
          <base-button size="sm" type="neutral">Filters</base-button>
        </div>
      </div>
      <!-- Card stats -->
      <div class="row">
       
        <div class="col-xl-4 col-md-6">
          <stats-card title="Total Bookings"
                      type="gradient-red"
                      v-bind:sub-title="stat_model.totalBookings"
                      icon="fas fa-umbrella-beach">
          </stats-card>
        </div>
        <div class="col-xl-4 col-md-6">
          <stats-card title="Total Trips"
                      type="gradient-orange"
                      v-bind:sub-title="stat_model.totalTrips"
                      icon="fas fa-suitcase-rolling">
          </stats-card>
        </div>
        <div class="col-xl-4 col-md-6">
          <stats-card title="Customers"
                      type="gradient-green"
                      v-bind:sub-title="stat_model.customers"
                      icon="fas fa-users">
          </stats-card>        
        </div>
        <div class="col-xl-4 col-md-6">
          <stats-card title="Order Completed"
                      type="gradient-blue"
                      v-bind:sub-title="stat_model.orderCompleted"
                      icon="fas fa-calendar-check">
          </stats-card>
        </div>
        <div class="col-xl-4 col-md-6">
          <stats-card title="Travel Rating"
                      type="gradient-yellow"
                      v-bind:sub-title="stat_model.travelRatings"
                      icon="fas fa-star">
          </stats-card>
        </div>
        <div class="col-xl-4 col-md-6">
          <stats-card title="guide rating"
                      type="gradient-green"
                      v-bind:sub-title="stat_model.guideRatings"
                      icon="fas fa-smile">
          </stats-card>        
        </div>

      </div>

    </base-header>

    <div class="container-fluid">
      <div class="card-deck flex-column flex-xl-row">
        <card>
          <div slot="header" class="row align-items-center">
            <div class="col">
              <div class="h2 m-3"><strong>Order Summary</strong></div>
            </div>
          </div>
          <div class="container">
            <ul class="list-group border-bottom" style="border:2.5px;">
              <div class="row">
                <li class="col-md-2 col-4 text-center border-top-0 border-right-0 border-left-0 border-primary list-group-item">
                  <a href="#"
                    class="text-dark font-weight-bold border-top-0 border-right-0 border-left-0 border-primary">Inbound
                    Order</a></li>
                <li class="col-md-2 col-4 text-center border-0 list-group-item"><a href="#"
                    class="text-dark font-weight-bold">Inbound Itinerary</a></li>
                <li class="col-md-2 col-4 text-center border-0 list-group-item"><a href="#"
                    class="text-dark font-weight-bold">On-going</a></li>
              </div>
            </ul>
            <div class="row pt-4">
              <div class="col-md-3 pr-0 pl-0">
                <div class="corner-ribbon-top h3 font-weight-normal top-left sticky blue">4 Days</div>
                <div class="corner-ribbon top-left sticky blue"></div>
                <div class="card">
                  <!-- Card image -->
                  <img class="card-img-top" src="img/theme/img-1-1000x900.jpg" alt="Image placeholder">
                  <!-- Card body -->
                  <div class="card-body text-center">
                    <span class="h4 card-title mb-0"><strong>Paket Bali Utara</strong></span>
                    <p class="h5">From <span>
                        <badge rounded type="default" class="bg-primary">7 January 2020</badge>
                      </span></p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 pr-0 pl-0">
                <div class="corner-ribbon-top h3 font-weight-normal top-left sticky blue">4 Days</div>
                <div class="corner-ribbon top-left sticky blue"></div>
                <div class="card">
                  <!-- Card image -->
                  <img class="card-img-top" src="img/theme/img-1-1000x900.jpg" alt="Image placeholder">
                  <!-- Card body -->
                  <div class="card-body text-center">
                    <span class="h4 card-title mb-0"><strong>Paket Bali Utara</strong></span>
                    <p class="h5">From <span>
                        <badge rounded type="default" class="bg-primary">7 January 2020</badge>
                      </span></p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 pr-0 pl-0">
                <div class="corner-ribbon-top h3 font-weight-normal top-left sticky blue">4 Days</div>
                <div class="corner-ribbon top-left sticky blue"></div>
                <div class="card">
                  <!-- Card image -->
                  <img class="card-img-top" src="img/theme/img-1-1000x900.jpg" alt="Image placeholder">
                  <!-- Card body -->
                  <div class="card-body text-center">
                    <span class="h4 card-title mb-0"><strong>Paket Bali Utara</strong></span>
                    <p class="h5">From <span>
                        <badge rounded type="default" class="bg-primary">7 January 2020</badge>
                      </span></p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 pr-0 pl-0">
                <div class="corner-ribbon-top h3 font-weight-normal top-left sticky blue">4 Days</div>
                <div class="corner-ribbon top-left sticky blue"></div>
                <div class="card">
                  <!-- Card image -->
                  <img class="card-img-top" src="img/theme/img-1-1000x900.jpg" alt="Image placeholder">
                  <!-- Card body -->
                  <div class="card-body text-center">
                    <span class="h4 card-title mb-0"><strong>Paket Bali Utara</strong></span>
                    <p class="h5">From <span>
                        <badge rounded type="default" class="bg-primary">7 January 2020</badge>
                      </span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <base-button class="float-right" type="primary">Expand All</base-button>
        </card>
      </div>
    </div>
    <div class="row m-3">
      <div class="col-md-6">
        <card>
            <ul class="list-group">
              <div class="row">
                <li class="col-2 h5 text-center border-0 list-group-item">
                  <a href="#"
                    class="text-primary font-weight-bold">Daily</a></li>
                <li class="col-2 h5 text-center border-0 list-group-item"><a href="#"
                    class="text-dark font-weight-bold">Weekly</a></li>
                <li class="col-2 h5 text-center border-0 list-group-item"><a href="#"
                    class="text-dark font-weight-bold">Monthly</a></li>
                <li class="col-2 h5 text-center border-0 list-group-item"><a href="#"
                class="text-dark font-weight-bold">Yearly</a></li>
              </div>
            </ul>
            <div class="container p-3">
          <line-chart
            :height="350"
            ref="bigChart"
            :chart-data="bigLineChart.chartData"
            :extra-options="bigLineChart.extraOptions"
          >
          </line-chart>

            </div>
        </card>
      </div>
      <div class="col-md-6">
        <card>
            <div slot="header" class="row align-items-center">
            <div class="col">
              <div class="h2 m-3"><strong>Order Summary</strong></div>
            </div>
          </div>
            <div class="container">
                <div class="chart-area">
              <doughnut-chart
                :height="350"
                :chart-data="doughnutChart.chartData"
                :extra-options="doughnutChart.extraOptions"
              >
              </doughnut-chart>
            </div>
            </div>
        </card>
      </div>
    </div>

  </div>
</template>
<script>
  // Charts
  import * as chartConfigs from '@/components/Charts/config';
  import DoughnutChart from '@/components/Charts/DoughnutChart';
  import LineChart from '@/components/Charts/LineChart';
  import BarChart from '@/components/Charts/BarChart';
  import { Charts } from "@/components/Charts/config";

  // Components
  import BaseHeader from '@/components/BaseHeader';
  import BaseProgress from '@/components/BaseProgress';

  // Lists
  import ProgressTrackList from './../ProgressTrackList';
  import MembersCard from '@/views/Widgets/MembersCard';
  import TaskList from '@/views/Widgets/TaskList';

  // Tables
  import LightTable from './../LightTable';
  import VectorMapCard from '@/views/Widgets/VectorMapCard'
  import router from "../../../routes/router";
  function randomScalingFactor() {
    return Math.round(Math.random() * 100);
  }

  export default {
    components: {
      DoughnutChart,
      LineChart,
      BaseHeader,
    },
    data() {
      return {
        stat_model:{
              totalBookings: '1001',
              totalTrips: '876',
              customers: '1500',
              orderCompleted: '564',
              travelRatings: '4.5',
              guideRatings: '4.2',
            },
             
        bigLineChart: {
          chartData: {
            datasets: [{
              label: 'Performance',
              data: [0, 20, 10, 30, 15, 40, 20, 60, 60],
            }],
            labels: ['May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
          },
          extraOptions: chartConfigs.blueChartOptions,
        },
        redBarChart: {
          chartData: {
            labels: ['Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            datasets: [{
              label: 'Sales',
              data: [25, 20, 30, 22, 17, 29]
            }]
          }
        },
        doughnutChart: {
          chartData: {

            labels: [
              'Danger',
              'Warning',
              'Success',
              'Primary',
              'Info'
            ],
            datasets: [{
              data: [
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor(),
              ],
              backgroundColor: [
                Charts.colors.theme['danger'],
                Charts.colors.theme['warning'],
                Charts.colors.theme['success'],
                Charts.colors.theme['primary'],
                Charts.colors.theme['info'],
              ],
              label: 'Dataset 1'
            }],
          },
          extraOptions: {
            responsive: true,
            legend: {
              position: 'top',
            },
            animation: {
              animateScale: true,
              animateRotate: true
            }
          }
        },
      };
    },
    mounted() {
      // this.initBigChart(0);
      console.log('cok')
      console.log(localStorage.getItem('role'))
      if ( localStorage.getItem('role') !== 'travel_agent' ) {
        router.push({ name: "Home"});
      }
    }
  };

</script>
<style>
  .corner-ribbon {
    width: 80px;
    height: 80px;
    background: #e43;
    top: 25px;
    left: 10px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    /* Pay attention! */
    z-index: 0;
    position: absolute;
  }

  /* Custom styles */

  .corner-ribbon.shadow {
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  }

  .corner-ribbon.top-left {
    top: 25px;
    left: 17px;
  }

  .corner-ribbon-top {
    width: 100px;
    background: #e43;
    top: 25px;
    left: 10px;
    text-align: center;
    line-height: 30px;
    color: #f0f0f0;
    /* Pay attention! */
    z-index: 1;
    position: absolute;
  }

  /* Custom styles */

  .corner-ribbon-top.shadow {
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  }

  .corner-ribbon-top.top-left {
    top: 35px;
    left: 0.5px;
  }

  /* Colors */

  .corner-ribbon.white {
    background: #f0f0f0;
    color: #555;
  }

  .corner-ribbon.black {
    background: #333;
  }

  .corner-ribbon.grey {
    background: #999;
  }

  .corner-ribbon.blue {
    background: rgb(23, 42, 160);
  }

  .corner-ribbon.green {
    background: #2c7;
  }

  .corner-ribbon.turquoise {
    background: #1b9;
  }

  .corner-ribbon.purple {
    background: #95b;
  }

  .corner-ribbon.red {
    background: #e43;
  }

  .corner-ribbon.orange {
    background: #e82;
  }

  .corner-ribbon.yellow {
    background: #ec0;
  }

  .corner-ribbon-top.white {
    background: #f0f0f0;
    color: #555;
  }

  .corner-ribbon-top.black {
    background: #333;
  }

  .corner-ribbon-top.grey {
    background: #999;
  }

  .corner-ribbon-top.blue {
    background: rgb(23, 64, 160);
  }

  .corner-ribbon-top.green {
    background: #2c7;
  }

  .corner-ribbon-top.turquoise {
    background: #1b9;
  }

  .corner-ribbon-top.purple {
    background: #95b;
  }

  .corner-ribbon-top.red {
    background: #e43;
  }

  .corner-ribbon-top.orange {
    background: #e82;
  }

  .corner-ribbon-top.yellow {
    background: #ec0;
  }

</style>
