<template>
  <!-- On Journey Dashboard -->
  <div>
    <base-header>
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 d-inline-block mb-0">Armada</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links">
              <li class="breadcrumb-item">
                <router-link to="/"><i class="fas fa-home"></i></router-link>
              </li>
              <li class="ml-2 mr-2">/</li>
              <li class="h4 text-black">Dashboards</li>
            </ol>
          </nav>
        </div>
        
      </div>
    </base-header>

    <div>
      <light-table></light-table>
    </div>
  </div>
</template>
<script>
 
  // Components
  import BaseHeader from '@/components/BaseHeader';
  
  // Tables
  import LightTable from './ArmadaTable';
  import router from "../../../routes/router";

  function randomScalingFactor() {
    return Math.round(Math.random() * 100);
  }

  export default {
    components: {
      BaseHeader,
      LightTable,
    },
    data() {
      return {
        pagination: {
          default: 1
        },
        
      };
    },
    mounted() {
      if ( localStorage.getItem('role') !== 'travel_agent' ) {
        router.push({ name: "Home"});
      }
    }
  };

</script>
<style>
  .corner-ribbon {
    width: 80px;
    height: 80px;
    background: #e43;
    top: 25px;
    left: 10px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    /* Pay attention! */
    z-index: 0;
    position: absolute;
  }

  /* Custom styles */

  .corner-ribbon.shadow {
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  }

  .corner-ribbon.top-left {
    top: 25px;
    left: 17px;
  }

  .corner-ribbon-top {
    width: 100px;
    background: #e43;
    top: 25px;
    left: 10px;
    text-align: center;
    line-height: 30px;
    color: #f0f0f0;
    /* Pay attention! */
    z-index: 1;
    position: absolute;
  }

  /* Custom styles */

  .corner-ribbon-top.shadow {
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  }

  .corner-ribbon-top.top-left {
    top: 35px;
    left: 0.5px;
  }

  /* Colors */

  .corner-ribbon.white {
    background: #f0f0f0;
    color: #555;
  }

  .corner-ribbon.black {
    background: #333;
  }

  .corner-ribbon.grey {
    background: #999;
  }

  .corner-ribbon.blue {
    background: rgb(23, 42, 160);
  }

  .corner-ribbon.green {
    background: #2c7;
  }

  .corner-ribbon.turquoise {
    background: #1b9;
  }

  .corner-ribbon.purple {
    background: #95b;
  }

  .corner-ribbon.red {
    background: #e43;
  }

  .corner-ribbon.orange {
    background: #e82;
  }

  .corner-ribbon.yellow {
    background: #ec0;
  }

  .corner-ribbon-top.white {
    background: #f0f0f0;
    color: #555;
  }

  .corner-ribbon-top.black {
    background: #333;
  }

  .corner-ribbon-top.grey {
    background: #999;
  }

  .corner-ribbon-top.blue {
    background: rgb(23, 64, 160);
  }

  .corner-ribbon-top.green {
    background: #2c7;
  }

  .corner-ribbon-top.turquoise {
    background: #1b9;
  }

  .corner-ribbon-top.purple {
    background: #95b;
  }

  .corner-ribbon-top.red {
    background: #e43;
  }

  .corner-ribbon-top.orange {
    background: #e82;
  }

  .corner-ribbon-top.yellow {
    background: #ec0;
  }

</style>
