<template>
  <div>
    {{date_model.curr_month}} {{date_model.first_day}} {{date_model.last_day}}

    <div class="box-calendar">
      <div class="square-head" v-for="day in date_model.all_day_names">
        <div class="calendar-day text-center">
          <b>{{day}}</b>
        </div>

      </div>
      <div class="square" v-for="day in date_model.all_date">
        <div class="content text-center">
          <div class="card">
            <div class="bg-secondary">
              <h2 v-if="day.date.getDay() == 0"><div class="text-warning">{{day.date.getDate()}}</div></h2>
              <h2 v-else><div class="text-dark">{{day.date.getDate()}}</div></h2>
            </div>
              <div class="card-body bg-info event-container">
                <div v-for="sch in schedule_props">
                  <!-- {{sch.date==day.date}} -->
                  <div v-if="sch.date.getDate() === day.date.getDate() &&
                  sch.date.getMonth() === day.date.getMonth() &&
                  sch.date.getFullYear() === day.date.getFullYear()">
                   <h1> <span class="badge badge-primary">{{sch.schedule[0]}}</span>&nbsp
                    <span class="badge badge-secondary"> {{sch.schedule[0]}}</span>&nbsp
                    <span class="badge badge-warning">{{sch.schedule[0]}}</span></h1>
                  </div>
                </div>
              </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</template>

<script>

let month_name = ['January', 'February', 'March', 'April', 'May', 'June', 'August', 'September', 'October', 'November', 'December']
let day_name = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']
let date = new Date()
let month = date.getMonth()

function getFirstDayOfMonth(){
  let first_date = Date.parse(month+'- 1 -'+ date.getFullYear);
  return(date)
}
function getLastDay(){

  return new Date(date.getFullYear(), date.getMonth() +1,0)
}

function getCalendarDays(month, year){
  let first = new Date(year, month, 1)
  let last = new Date(year, month+1, 0)
  let dates = []
  let i;
  let first_shown_calendar =  1-first.getDay()
  let last_shown_calendar =  last.getDate()+(6-last.getDay())
  for(i=first_shown_calendar; i<=last_shown_calendar; i++){
    let data = {
      date: new Date(year, month, i),
      data: []
    }
    dates.push(data)
  }

  return dates
}


export default {
  props:{
    schedule_props: {
        type: Array,
        default: function(){
          let last = new Date(date.getFullYear(), date.getMonth()+1, 0)
          return [
            {
              date: new Date(date.getFullYear(), date.getMonth(), Math.floor(Math.random() * last.getDate())+1),
              schedule: [Math.floor(Math.random() * 50)+1,Math.floor(Math.random() * 50),Math.floor(Math.random() * 50)]
            },
            {
              date: new Date(date.getFullYear(), date.getMonth(), Math.floor(Math.random() * last.getDate())+1),
              schedule: [Math.floor(Math.random() * 5)+1,Math.floor(Math.random() * 5),Math.floor(Math.random() * 5)]
            },
            {
              date: new Date(date.getFullYear(), date.getMonth(), Math.floor(Math.random() * last.getDate())+1),
              schedule: [Math.floor(Math.random() * 5)+1,Math.floor(Math.random() * 5),Math.floor(Math.random() * 5)]
            },
            {
              date: new Date(date.getFullYear(), date.getMonth(), Math.floor(Math.random() * last.getDate())+1),
              schedule: [Math.floor(Math.random() * 5)+1,Math.floor(Math.random() * 5),Math.floor(Math.random() * 5)]
            },
          ]
        }
      },

  },
  data() {
    return {
      date_model:{
        curr_month: month_name[month],
        first_day: day_name[ getFirstDayOfMonth().getDay()],
        last_day: day_name[getLastDay().getDay()],
        all_date: getCalendarDays(date.getMonth(), date.getFullYear()),
        all_day_names: day_name,
      }
    }
  },
  mounted() {

  },
}
</script>

<style>
.box-calendar{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(7, 1fr);
    min-width: 900px;


}

.square-head {
  position: relative;
  width: 95%;
}

.square-head:after {
  content: "";
  display: block;
  padding-bottom: 20%;
}

.square {
  position: relative;
  width: 100%;
  height: 95%;

}

.square:after {
  content: "";
  display: block;
  padding-bottom: 80%;
}

.content {
  position: absolute;
  align-content: center;
  width: 100%;
  height: 100%;
}

.calendar-day{
  position: absolute;
  align-content: center;
  width: 100%;

  background-color: antiquewhite;
}

.event-container{
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.event-container::-webkit-scrollbar {
  display: none;
}

.numberCircle {
    display:inline-block;
    line-height:0px;

    border-radius:50%;
    border:2px solid;

    font-size:32px;
}

.numberCircle span {
    display:inline-block;

    padding-top:50%;
    padding-bottom:50%;

    margin-left:8px;
    margin-right:8px;
}

</style>
