<template>
    <div class="card card-profile">
        
      
    
    <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
        <div class="d-flex justify-content-between">
            <div>
                <small>order id</small>
                <h3>{{order.booking_id}}</h3>
            </div>
            
            <div>
                <small>status</small>
                <h3>{{order.status}}</h3>
            </div>
        </div>
    </div>
    <div class="card-body pt-0">
        <div class="row">           
            <div class="col">
                <small>Total Wage</small>
                <h4>{{order.total_price}}</h4>
            </div>
            <div class="col">
                <small>duration(s)</small>
                <h4>{{order.durations}} day(s)</h4>
            </div>
            <div class="col">
                <small>start</small>
                <h4>{{order.start}}</h4>
            </div>
            <div class="col">
                <small>end</small>
                <h4>{{order.end}}</h4>
            </div>
        </div>
        <div class="row">           
            <div class="col">
                <small>Include Hotel</small>
                <h4>{{order.include_hotel}}</h4>
            </div>
            <div class="col">
                <small>Preferred Hotel Star(s)</small>
                <h4>{{order.prefered_hotel_stars}} Star(s)</h4>
            </div>
            <div class="col">
                <small>Guide Language</small>
                <h4>{{order.guide_language}}</h4>
            </div>
            <div class="col">
                <small>Guest(s)</small>
                <h4>{{order.guests}} People(s)</h4>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div>
                        <small>Travel Agent</small>
                        <h4>{{order.travel_agent}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <small>Accomodation Type</small>
                        <h4>{{order.accomodation_type}} </h4>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <small>Car Id</small>
                        <h4>{{order.fleet_id}} </h4>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <small>Car Name</small>
                        <h4>{{order.car_name}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <small>Driver / Guide Name</small>
                        <h4>{{order.guide_name}}</h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div>
                        <small>Customer Name</small>
                        <h4>{{order.traveler_name}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <small>Credibility Rating</small>
                        <h4>{{order.credibility_rating}}</h4>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="container">
                    <div v-for="destination in order.destinations" v-bind:key="destination.id">
                        <div class="box-destination">
                            
                                 <div class="row">
                                <div class="col-4">
                                    <div>
                                        <small>day</small>
                                        <h4>{{destination.day}}</h4>
                                    </div>
                                </div>
                                <div class="col">
                                    <h3>{{destination.destinations_name}}</h3>
                                    <small>{{ destination.address }}</small>
                                </div>
                          
                            </div>  
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

</template>
<script>
 import PerfectScrollbar from 'perfect-scrollbar';
import 'perfect-scrollbar/css/perfect-scrollbar.css';

  function hasElement(className) {
    return document.getElementsByClassName(className).length > 0;
  }

  function initScrollbar(className) {
    if (hasElement(className)) {
      new PerfectScrollbar(`.${className}`);
    } else {
      // try to init it later in case this component is loaded async
      setTimeout(() => {
        initScrollbar(className);
      }, 100);
    }
  }

export default {
    
    components:{
        
    },
    props:{ 
        order:  {
            type: Object,
            default(){
                return{
                    booking_id : "1221121",
                    status : "on progress",
                    total_price : "00000",
                    durations: "3",
                    start: "3 January 2021",
                    end: "5 January 2021",
                    include_hotel: "yes",
                    prefered_hotel_stars: "4",
                    guide_language: "mandarin",
                    guests: "3",
                    travel_agent: "prisma travel",
                    traveler_name: "alexandro do capilco",
                    credibility_rating: "4.9/5.0",
                    guide_name: "I Gede Suanda",
                    accomodation_type: "basic car",
                    fleet_id:"1921",
                    car_name:"daihatsu xenia",
                    destinations:[
                        {
                            id:"12",
                            day: "1",
                            destinations_name: "bukit xys",
                            address: "bali"
                        },
                        {
                            id:"13",
                            day: "1",
                            destinations_name: "lembah xys",
                            address: "bali"
                        },
                        {
                            id:"14",
                            day: "2",
                            destinations_name: "sungai xys",
                            address: "bali"
                        },
                        {
                            id:"15",
                            day: "3",
                            destinations_name: "pantai xys",
                            address: "bali"
                        },
                        {
                            id:"16",
                            day: "3",
                            destinations_name: "sungai xys",
                            address: "bali"
                        },
                        {
                            id:"17",
                            day: "3",
                            destinations_name: "pantai xys",
                            address: "bali"
                        }

                    ]


                }
            }
        },
        onReport: Function,
    },
    methods: {
      
    },
    mounted() {
        new PerfectScrollbar('.container')
    },
}
</script>
<style>
.container {
    position: relative;
    height: 380px;
    overflow-y: scroll;
  }
  .box-destination{
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    
}
</style>