<template>
<div>
        <base-header class="pb-6 content__title content__title--calendar">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">{{$route.name}}</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-breadcrumb/>
          </nav>
        </div>
      </div>
    </base-header>
    <div class="row">
        <div class="col">
            <div class="container">
                <h4>Today</h4>
                <h2>{{current_day}}</h2>
                <small>custom package</small>
                <div v-for="custom_package in current_schedule_model.custom_packages" v-bind:key="custom_package.id">
                    <div class="box-custom text-light" @click="modals.modal0 = true">
                        <div class="row">
                            <div class="col-2 ">
                                {{custom_package.id}}
                                </div>
                            <div class="col">
                                <div class="row">
                                    <div>
                                        <small>Order Id</small>
                                        <h4 class="text-light">{{custom_package.order_id}}</h4>
                                    </div>
                                </div>

                            </div>
                            <div class="col">
                                <div class="row">
                                    <div>
                                        <small>Duration(s)</small>
                                        <h4 class="text-light">{{custom_package.durations}} days</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div>
                                        <small>Guest(s)</small>
                                        <h4 class="text-light">{{custom_package.guests}} People</h4>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <small>package</small>
                <div v-for="r_package in current_schedule_model.packages" v-bind:key="r_package.id">
                    <div class="box" @click="modals.modal0 = true">
                        <div class="row">
                            <div class="col-2 ">
                                {{r_package.id}}
                                </div>
                            <div class="col">
                                <div class="row">
                                    <div>
                                        <small>Order Id</small>
                                        <h4 >{{r_package.order_id}}</h4>
                                    </div>
                                </div>

                            </div>
                            <div class="col">
                                <div class="row">
                                    <div>
                                        <small>Duration(s)</small>
                                        <h4 >{{r_package.durations}} days</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div>
                                        <small>Guest(s)</small>
                                        <h4 >{{r_package.guests}} People</h4>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <small>request</small>
                <div v-for="s_package in current_schedule_model.requests" v-bind:key="s_package.id">
                    <div class="box-request" @click="modals.modal0 = true">
                        <div class="row">
                            <div class="col-2 ">
                                {{s_package.id}}
                                </div>
                            <div class="col">
                                <div class="row">
                                    <div>
                                        <small>Order Id</small>
                                        <h4 >{{s_package.order_id}}</h4>
                                    </div>
                                </div>

                            </div>
                            <div class="col">
                                <div class="row">
                                    <div>
                                        <small>Duration(s)</small>
                                        <h4 >{{s_package.durations}} days</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="row">
                                    <div>
                                        <small>Guest(s)</small>
                                        <h4 >{{s_package.guests}} People</h4>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-8">
           <travel-agent-calendar/>
        </div>
    </div>

  <modal :show="modals.modal0" size="lg">
   <div  class="modal-lg">
    <detail-modal :order="schedule_model"></detail-modal>
   </div>
   <template v-slot:footer>
       <base-button type="secondary" @click="modals.modal0 = false">Close</base-button>
       <base-button type="primary">Report</base-button>
   </template>
 </modal>
</div>

</template>

<script>
import Modal from '@/components/Modal.vue'
import DetailModal from './DetailModal.vue'
import TravelAgentCalendar from '../../Components/TravelAgentCalendar/TravelAgentCalendar.vue';
const day_name = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
const month_name = ["January", "February", "March", "April", "May", "June",
  "July", "August", "September", "October", "November", "December"
];
function ordinal_suffix_of(i) {
    var j = i % 10,
        k = i % 100;
    if (j == 1 && k != 11) {
        return i + "st";
    }
    if (j == 2 && k != 12) {
        return i + "nd";
    }
    if (j == 3 && k != 13) {
        return i + "rd";
    }
    return i + "th";
}

function getCurrentDayDate(){
    let today = new Date();
    let day = day_name[today.getDay()]
    let dd = ordinal_suffix_of(today.getDate());

    let mm = month_name[today.getMonth()];
    let yyyy = today.getFullYear();
    return day + ', '+mm+' '+dd +' '+yyyy
}
export default {
    components:{
        Modal,
        DetailModal,

        TravelAgentCalendar
    },
    data() {
        return {
            modals:{
                modal0: false
            },
            current_day: getCurrentDayDate(),
            schedule_model:{
                booking_id : "1231",
                    status : "on progress",
                    total_price : "21231",
                    durations: "3",
                    start: "3 January 2021",
                    end: "5 January 2021",
                    include_hotel: "yes",
                    prefered_hotel_stars: "4",
                    guide_language: "mandarin",
                    guests: "3",
                    travel_agent: "prisma travel",
                    traveler_name: "alexandro do capilco",
                    credibility_rating: "4.9/5.0",
                    guide_name: "I Gede Suanda",
                    accomodation_type: "basic car",
                    fleet_id:"1921",
                    car_name:"daihatsu xenia",
                    destinations:[
                        {
                            id:"12",
                            day: "1",
                            destinations_name: "bukit xys",
                            address: "bali"
                        },
                        {
                            id:"13",
                            day: "1",
                            destinations_name: "lembah xys",
                            address: "bali"
                        },
                        {
                            id:"14",
                            day: "2",
                            destinations_name: "sungai xys",
                            address: "bali"
                        },
                        {
                            id:"15",
                            day: "3",
                            destinations_name: "pantai xys",
                            address: "bali"
                        },
                        {
                            id:"16",
                            day: "3",
                            destinations_name: "sungai xys",
                            address: "bali"
                        },
                        {
                            id:"17",
                            day: "3",
                            destinations_name: "pantai xys",
                            address: "bali"
                        }

                    ]
            },
            current_schedule_model:{
                custom_packages:[
                    {
                        id:"1",
                        order_id:"21231",
                        durations: "3",
                        guests:"4"
                    },
                    {
                        id:"2",
                        order_id:"54353",
                        durations: "1",
                        guests:"4"
                    },
                    {
                        id:"3",
                        order_id:"4322",
                        durations: "2",
                        guests:"4"
                    },
                ],
                packages:[
                    {
                        id:"4",
                        order_id:"21231",
                        durations: "3",
                        guests:"4"
                    },
                    {
                        id:"5",
                        order_id:"54353",
                        durations: "1",
                        guests:"4"
                    },

                ],
                requests:[
                    {
                        id:"6",
                        order_id:"654343",
                        durations: "3",
                        guests:"4"
                    },
                    {
                        id:"7",
                        order_id:"se34re",
                        durations: "1",
                        guests:"4"
                    },
                    {
                        id:"8",
                        order_id:"f232",
                        durations: "2",
                        guests:"4"
                    },
                ],
            }
        }
    },
}
</script>

<style>
.container {
    position: relative;
    height: 680px;
    overflow-y: scroll;
  }
.box-custom{
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
    background-color: Blue;

}
.box{
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
    background-color: greenyellow;

}
.box-request{
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
    background-color: orangered;

}
</style>
