<template>
  <div>
    <submit-travel-profiles></submit-travel-profiles>
  </div>
</template>
<script>

import SubmitTravelProfiles from '../../../components/FormComponents/SubmitTravelProfiles.vue'
export default {
    name: 'RegistrasiTravelAgent',
    components:{
        SubmitTravelProfiles,
    },
}

</script>
