<template>
  <div>
    <travel-agent-calendar/>
    <hr>
    <profile-forms></profile-forms>
    <span>--------------------------------------------------------------</span>
    <span>--------------------------------------------------------------</span>
    <add-offices-forms></add-offices-forms>
    <span>--------------------------------------------------------------</span>
    <detail-modal></detail-modal>
    <hr>
    <schedules></schedules>
    <hr>



  </div>
</template>
<script>
import AddOfficesForms from '../../components/FormComponents/AddOfficesForms.vue'

import ProfileForms from '../../components/FormComponents/ProfileForms.vue'
import SubmitTravelProfiles from '../../components/FormComponents/SubmitTravelProfiles.vue'
import TravelAgentCalendar from '../Components/TravelAgentCalendar/TravelAgentCalendar.vue'
import DetailModal from '../Dashboard/schedules_calendar/DetailModal.vue'
import Schedules from '../Dashboard/schedules_calendar/Schedules.vue'
export default {
    components:{
    'profile-forms': ProfileForms,
        AddOfficesForms,
        DetailModal,
        Schedules,
        TravelAgentCalendar
    }
}
</script>
