<template>
  <div>
    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8 px-5">
              <h1 class="text-white">On-Journey</h1>
              <p class="text-lead text-white">shaping your travel experience</p>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
             xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-secondary border-0 mb-0">
            <div class="card-header bg-transparent pb-5">
              <div class="text-muted text-center mt-2 mb-3"><small>Sign in with</small></div>
              <div class="btn-wrapper text-center">
                <a href="#" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon"><img src="img/icons/common/google.svg"></span>
                  <span class="btn-inner--text">Google</span>
                </a>
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Or sign in with credentials</small>
              </div>
              <validation-observer v-slot="{handleSubmit}" ref="formValidator">
                <form role="form" @submit="onSubmit">
                  <base-input alternative
                              class="mb-3"
                              name="Username"
                              :rules="{required: true}"
                              prepend-icon="ni ni-circle-08"
                              placeholder="Username"
                              v-model="model.username">
                  </base-input>

                  <base-input alternative
                              class="mb-3"
                              name="Password"
                              :rules="{required: true, min: 6}"
                              prepend-icon="ni ni-lock-circle-open"
                              type="password"
                              placeholder="Password"
                              v-model="model.password">
                  </base-input>

                  <base-checkbox v-model="model.rememberMe">Remember me</base-checkbox>
                  <div class="text-center">
                    <base-button type="submit" class="btn btn-primary mt-4" native-type="submit">Sign in</base-button>
                  </div>
                </form>
              </validation-observer>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <router-link to="/dashboard" class="text-light"><small>Forgot password?</small></router-link>
            </div>
            <div class="col-6 text-right">
              <router-link to="/register" class="text-light"><small>Create new account</small></router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import swal from 'sweetalert2';
  import 'sweetalert2/dist/sweetalert2.css';
  import { Modal, BaseAlert } from '@/components';
  import axios from "axios";
  import http from "http";
  import router from "../../routes/router";
  import TokenLocalStorage from "@/storage/TokenStorageService"
  export default {
    name: 'login',
    data() {
      return {
        model: {
          username:'',
          email: '',
          password: '',
          rememberMe: false
        }
      };
    },
    methods: {
      onSubmit(e) {

        e.preventDefault();
        let currentObj = this;
        console.log(currentObj.model.username )
        console.log(currentObj.model.password )
        let tokenLocalStorage = TokenLocalStorage.getService();
        axios
          .post("/user/login", {
            username: this.model.username,
            password: this.model.password,
          })
          .then(function(response) {
            currentObj.model.username = null;
            currentObj.model.password = null;

            //redirect logic
            if (response.status == 200 ) {
              console.log('berhasil')
              console.log(response.data.access)
              console.log(response.data.refresh)
              console.log(response.data.user)
              console.log('role: '+response.data.role)
              // console.log(response.status)
              // console.log(response.statusText)
              localStorage.setItem("access", response.data.access);
              localStorage.setItem("refresh", response.data.refresh);
              localStorage.setItem("user", response.data.user);
              localStorage.setItem("role", response.data.role);
              localStorage.setItem("profile_pic", response.data.propic);
              tokenLocalStorage.setToken(response.data);
              // swal.fire({
              //   title: `Success`,
              //   text: response.statusText,
              //   buttonsStyling: false,
              //   customClass: {
              //     confirmButton: 'btn btn-success'
              //   },
              //   icon: 'success'
              // });
              if (response.data.role == 'travel_agent'){
                // console.log('maybe the problem')
                router.push({ name: "DashboardTravelagent"});

              }
              else if ( response.data.role == 'traveler'){
                router.push({ name: "Dashboard"});
              }
              else if ( response.data.role == 'admin_administrasi'){
                router.push({ name: "Dashboard"});
              }
            }
          })
          .catch(error => {
            // console.log(error);
            swal.fire({
              title: `Warning`,
              text: 'User / Password salah!!!',
              buttonsStyling: false,
              customClass: {
                confirmButton: 'btn btn-warning'
              },
              icon: 'warning'
            })
          });
      }
    }
  };
</script>
