<template>
  <div>
    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8 px-5">
              <h1 class="text-white">Daftar Sekarang</h1>
              <router-link to="/login" class="text-lead text-white"><small>Sudah punya akun On-Journey , Masuk ?</small></router-link>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
             xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <!-- Table -->
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
          <div class="card bg-secondary border-0">
            <div class="card-header bg-transparent pb-5">
              <div class="text-muted text-center mt-2 mb-4"><small>Sign up with</small></div>
              <div class="text-center">
                <a href="#" class="btn btn-neutral btn-icon mr-4">
                  <span class="btn-inner--icon"><img src="img/icons/common/github.svg"></span>
                  <span class="btn-inner--text">Github</span>
                </a>
                <a href="#" class="btn btn-neutral btn-icon">
                  <span class="btn-inner--icon"><img src="img/icons/common/google.svg"></span>
                  <span class="btn-inner--text">Google</span>
                </a>
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Or sign up with credentials</small>
              </div>
              <validation-observer v-slot="{handleSubmit}" ref="formValidator">
                <form role="form" @submit="onSubmit">

                  <base-input alternative
                              class="mb-3"
                              prepend-icon="ni ni-email-83"
                              placeholder="Email"
                              name="Email"
                              :rules="{required: true, email: true}"
                              v-model="model.email">
                  </base-input>

                  <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-4">Create account</button>
                  </div>
                </form>
              </validation-observer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import swal from 'sweetalert2';
  import 'sweetalert2/dist/sweetalert2.css';
  import { Modal, BaseAlert } from '@/components';
  import axios from "axios";
  import http from "http";
  export default {
    name: 'register',
    data() {
      return {
        model: {
          email: '',
          agree: false
        }
      }
    },
    methods: {
      onSubmit(e) {
        e.preventDefault();
        let currentObj = this;
        // console.log(this.model.email)
        axios
          .post("/user/register_send_email", {
            email: this.model.email,
          })
          .then(function(response) {
            currentObj.model.email = null;

            //redirect logic
            if (response.data.status == true) {
              console.log('berhasil')
              swal.fire({
                title: `Success`,
                text: response.data.message,
                buttonsStyling: false,
                customClass: {
                  confirmButton: 'btn btn-success'
                },
                icon: 'success'
              });
            }
            else if (response.data.status == false) {
              swal.fire({
                title: `Warning`,
                text: response.data.message,
                buttonsStyling: false,
                customClass: {
                  confirmButton: 'btn btn-warning'
                },
                icon: 'warning'
              })
            }
          })
          // .catch(function(error) {
          //   currentObj.output = error;
          // });
      }
    }

  };
</script>
<style></style>
