<template>
  <div>
    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8 px-5">
              <h1 class="text-white">Validation {{model.message}}</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
             xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>

		<div class="container mt--8 pb-5" >
      <!-- Table -->
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
          <div class="card bg-secondary border-0">
            <div class="card-header bg-transparent pb-5">
              <div v-if="model.show_isidata === true" class="text-muted text-center mt-2 mb-4"><small>Lengkapi data sekarang</small></div>
              <div v-if="model.show_back === true" class="text-muted text-center mt-2 mb-4"><small>Silahkan ulangi lagi / Login</small></div>
              <div class="text-center">
                <div v-if="model.show_isidata === true">
                  <base-button type="default" block class="btn btn-neutral btn-icon" @click="modals.form = true">Isi data</base-button>
                </div>
                <div v-if="model.show_back === true">
                  <a type="default" block class="btn btn-neutral btn-icon" href="/?#/register" >Register</a>
                  <a type="default" block class="btn btn-neutral btn-icon" href="/?#/login" >Login</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

		<!-- Form modal-->
    <modal :show.sync="modals.form"
           size="sm"
           body-classes="p-0">
      <card type="secondary"
            header-classes="bg-transparent pb-5"
            body-classes="px-lg-5 py-lg-5"
            class="border-0 mb-0">
        <template>
          <div class="text-center text-muted mb-4">
            <small>Lengkapi data diri anda</small>
          </div>
          <form role="form" @submit="onSubmit">
            <base-input alternative
                        v-model="formModal.username"
                        class="mb-3"
                        placeholder="Username"
                        prepend-icon="ni ni-hat-3">
            </base-input>
            <base-input alternative
                        v-model="formModal.password"
                        type="password"
                        placeholder="Password"
                        prepend-icon="ni ni-lock-circle-open">
            </base-input>
            <base-checkbox v-model="formModal.remember">
              Remember me
            </base-checkbox>
            <div class="text-center">
              <!-- <base-button type="primary" class="my-4">Sign In</base-button> -->
              <button type="submit" class="btn btn-primary mt-4" @click="modals.form = false">Create</button>
            </div>
          </form>
        </template>
      </card>

    </modal>

  </div>
</template>
<script>
	import swal from 'sweetalert2';
	import 'sweetalert2/dist/sweetalert2.css';
	import { Modal, BaseAlert } from '@/components';

  export default {
    name: 'register',
		data() {
			return {
        model: {
          message:'',
          show_isidata: false ,
          show_show_back: false ,
        },
				modals: {
					form: false
				},
				formModal: {
					username: '',
					password: '',
					remember: true
				}
			};
		},
		created(){
			let api_key = this.$route.params.token;
      let obj = this;
			console.log(api_key)
			axios.get('/user/checker_verify_code/'+ api_key, {
			})
			.then(function(response) {
				// console.log(response.data.status);
				// console.log(response.data.data);
				// console.log(response.data.message);

				if (response.data.status == true) {
          console.log('berhasil')
					obj.modals.form = true
          obj.model.message = response.data.message
          obj.model.show_isidata = true
          localStorage.setItem("api_key", api_key);
				}
				else if (response.data.status == false) {
          obj.model.message = response.data.message
          obj.model.show_back = true

					swal.fire({
            title: `Warning`,
            text: 'Waktu aktifasi sudah kadaluwarsa, silahkan ulangi kembali',
            buttonsStyling: false,
            customClass: {
              confirmButton: 'btn btn-warning'
            },
            icon: 'warning'
          })
				}
			})
		},
    methods: {
      onSubmit() {
        let obj = this;
        console.log('ddd')
        console.log(obj.formModal.username)
        console.log(obj.formModal.password)
        axios
          .post("/user/create_username_password/"+ localStorage.getItem('api_key'), {
            username: obj.formModal.username,
            password: obj.formModal.password,
          })
          .then(function(response) {
            console.log('xsxsxssxssxssxsxs')
            // obj.formModal.username = null;
            // obj.formModal.password = null;
            // console.log(response.data);

            //redirect logic
            if (response.data.status == true) {
              console.log('create berhasil')
              localStorage.removeItem('api_key')
              obj.model.show_isidata = false
              obj.model.show_back = true
              obj.model.form = false
              swal.fire({
                title: `Success`,
                text: response.data.message,
                buttonsStyling: false,
                customClass: {
                  confirmButton: 'btn btn-success'
                },
                icon: 'success'
              });
            }
            else if (response.data.status == false) {
              obj.model.show_back = true
              swal.fire({
                title: `Warning`,
                text: response.data.message,
                buttonsStyling: false,
                customClass: {
                  confirmButton: 'btn btn-warning'
                },
                icon: 'warning'
              })
            }
          })
          .catch(function(error) {
            currentObj.output = error;
          });
      }
    }

  };
</script>
<style></style>
