<template>
  <div class="mt-4">
                    <div class="row">
                        <div class="col-12 mb-2">
                            <div class="row">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-12 mb-2">
                                            <label>Nama Destinasi Wisata</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-6 mb-2">
                                            <label>Provinsi</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-6">
                                            <label>Kabupaten/Kota</label>
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-6">
                                            <label>Desa</label>
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <label>Foto Destinasi (Optional)</label>
                                    <dropzone-file-upload></dropzone-file-upload>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6 mb-2">
                                    <label>Deskripsi Destinasi</label>
                                    <html-editor></html-editor>
                                </div>
                                <div class="col-6">
                                    <label>Deskripsi Lokasi</label>
                                    <html-editor></html-editor>
                                </div>

                                    <div class="col-6">
                                    <base-input label="Multiple select">
                                      <el-select v-model="selects.multiple"
                                                multiple
                                                filterable
                                                placeholder="Multiple select">
                                        <el-option v-for="cat in dest_categories"
                                                  :key="cat.id"
                                                  :label="cat.name"
                                                  :value="cat.id">
                                        </el-option>
                                      </el-select>
                                    </base-input>
                                </div>


                                <div class="col-3">
                                    <label>Latitude (Optional)</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-3">
                                    <label>Longitude (Optional)</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-6">
                                    <label>Link Maps (Optional)</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-5">
                            <div style="float:right;">
                                <base-button type="primary">Kirim Permintaan</base-button>
                            </div>
                        </div>
                    </div>
                </div>
</template>

<script>
import DropzoneFileUpload from '@/components/Inputs/DropzoneFileUpload'
import { Select, Option } from 'element-ui'
  import flatPicker from "vue-flatpickr-component";
  import "flatpickr/dist/flatpickr.css";

  import HtmlEditor from '@/components/Inputs/HtmlEditor'
  import TagsInput from '@/components/Inputs/TagsInput'
  import BaseSlider from '@/components/BaseSlider'

export default {
  components:{
    DropzoneFileUpload,
          HtmlEditor,
          TagsInput,
          DropzoneFileUpload,
          BaseSlider,
          flatPicker,
          [Select.name]: Select,
          [Option.name]: Option,
  },
  data() {
    return {
      dest_categories:[
        {
            id: 'Alerts',
            name: 'Alerts'
          },
          {
            id: 'Badges',
            name: 'Badges'
          },
          {
            id: 'Buttons',
            name: 'Buttons'
          },
          {
            id: 'Cards',
            name: 'Cards'
          },
          {
            id: 'Forms',
            name: 'Forms'
          },
          {
            id: 'Modals',
            name: 'Modals'
          }
      ],
      selects: {
          simple: 'Badges',
          multiple: ['Alerts', 'Buttons']
        },
    }
  },
  methods: {
      listCategories(){
        axios.get('tourism/categories/')
        .then(res=>{
          if(res.status===200){
            // this.dest_categories = res.data
            console.log(res.data)
          }
        })

      }
    },
    mounted() {
      this.listCategories();
    }

}
</script>

<style>

</style>
