<template>
  <div>
    <base-header class="pb-6" type="primary">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Default</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-bread-crumb></route-bread-crumb>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <base-button size="sm" type="neutral">New</base-button>
          <base-button size="sm" type="neutral">Filters</base-button>
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-12">
          <div class="card p-4">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                  type="button" role="tab" aria-controls="nav-home" aria-selected="true">Buat Paket Wisata</button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                  type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Daftar Paket</button>
                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-destination-reg"
                  type="button" role="tab" aria-controls="nav-destination-reg" aria-selected="false">Daftarkan Destinasi</button>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <travel-package-forms></travel-package-forms>
                </div>
              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                  <div class="m-4">
                      <div class="row">
                          <div class="col-12">
                              <div style="float:right;">
                                <base-button type="primary">Tambah Paket Baru</base-button>
                              </div>
                          </div>
                        <table>
                            <thead>
                                <th></th>
                                <th>Destinasi Wisata</th>
                                <th>Rating</th>
                                <th>Durasi</th>
                                <th>Jumlah Wisatawan</th>
                                <th>Harga Paket</th>
                                <th>Action</th>
                            </thead>
                            <tbody id="tbodyField">
                                <tr>
                                    <td>1</td>
                                    <td style="border-width:1px;">
                                        <img src="https://cdn.newsapi.com.au/image/v1/264169e6e724eaa26782602bbd00345f?width=1024" alt="" width="100px" height="100px">
                                        Bedugul
                                    </td>
                                    <td>1</td>
                                    <td>3</td>
                                    <td>3 Orang</td>
                                    <td>Rp. 3.000.000</td>
                                    <td>
                                        <base-button type="primary">Edit</base-button>
                                        <base-button type="primary">Delete</base-button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td style="border-width:1px;">
                                        <img src="https://cdn.newsapi.com.au/image/v1/264169e6e724eaa26782602bbd00345f?width=1024" alt="" width="100px" height="100px">
                                        Bedugul
                                    </td>
                                    <td>3</td>
                                    <td>4</td>
                                    <td>5 Orang</td>
                                    <td>Rp. 5.000.000</td>
                                    <td>
                                        <base-button type="primary">Edit</base-button>
                                        <base-button type="primary">Delete</base-button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                      </div>
                  </div>
              </div>
              <div class="tab-pane fade" id="nav-destination-reg" role="tabpanel" aria-labelledby="nav-destination-reg">
                <destination-requests></destination-requests>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
<script>
//   import FileInput from '@/components/Inputs/FileInput'
  import DropzoneFileUpload from '@/components/Inputs/DropzoneFileUpload'
import axios from 'axios';
import TravelPackageForms from './TravelPackageForms.vue';
import DestinationRequests from './DestinationRequests.vue';

  export default {
    components: {
    //   FileInput,

      TravelPackageForms,
        DestinationRequests
    },
    data() {
      return {
      };
    },
    methods: {
    },
    mounted() {

    }
  };

</script>
<style>
#tbodyField tr td {
  border-width: 1px;
}


</style>
