<template>
  <div>
    <div class="m-4">
                    <div class="row">
                        <div class="col-7">
                            <label>Nama Paket Wisata</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-2">
                            <label>Jumlah Wisatawan</label>
                            <select class="form-control">
                                <option>1 Hari</option>
                                <option>2 Hari</option>
                                <option>3 Hari</option>
                                <option>4 Hari</option>
                            </select>
                        </div>
                        <div class="col-2">
                            <label>Jumlah Wisatawan</label>
                            <select class="form-control">
                                <option>1 Org</option>
                                <option>2 Org</option>
                                <option>3 Org</option>
                                <option>4 Org</option>
                            </select>
                        </div>
                            <table>
                                <thead>
                                    <th></th>
                                    <th>Destination Custom Price Rate</th>
                                    <th>Urutan hari</th>
                                    <th>Keterangan</th>
                                    <th>Action</th>
                                </thead>
                                <tbody id="tbodyField">
                                    <tr>
                                        <td>1</td>
                                        <td style="border-width:1px;">
                                            <img src="https://cdn.newsapi.com.au/image/v1/264169e6e724eaa26782602bbd00345f?width=1024" alt="" width="100px" height="100px">
                                            Bedugul
                                        </td>
                                        <td>1</td>
                                        <td>Tambahan karcis + Biaya masuk</td>
                                        <td>
                                            <base-button type="primary">Edit</base-button>
                                            <base-button type="primary">Delete</base-button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td style="border-width:1px;">
                                            <img src="https://cdn.newsapi.com.au/image/v1/264169e6e724eaa26782602bbd00345f?width=1024" alt="" width="100px" height="100px">
                                            Bedugul
                                        </td>
                                        <td>2</td>
                                        <td>Tambahan karcis + Biaya masuk</td>
                                        <td>
                                            <base-button type="primary">Edit</base-button>
                                            <base-button type="primary">Delete</base-button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-3 mt-2">
                             <base-button type="primary">Tambah Destinasi</base-button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <label>Harga Paket Total</label>
                            <div class="row">
                                <div class="col-3">
                                    <select class="form-control">
                                        <option>Rp</option>
                                        <option>Usd</option>
                                    </select>
                                </div>
                                <div class="col-9">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <!-- todo: rapikan -->
                        <div class="col-12">
                            <span class="font-weight-bold mr-3">Fasilitas</span>
                            <div class="feature-grid-container feature-grid-container--fill">
                                <div class="feature-grid-element">
                                    <div class="d-flex align-items-center">
                                      <span class="font-weight-bold mr-3">Hotel</span>
                                      <div>
                                          <base-switch></base-switch>
                                      </div>
                                    </div>
                                </div>
                                <div class="feature-grid-element">
                                    <div class="d-flex align-items-center">
                                      <span class="font-weight-bold mr-3">Makanan</span>
                                      <div>
                                          <base-switch ></base-switch>
                                      </div>
                                    </div>
                                </div>
                                <div class="feature-grid-element">
                                    <div class="d-flex align-items-center">
                                      <span class="font-weight-bold mr-3">Guide</span>
                                      <div>
                                          <base-switch></base-switch>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <span class="font-weight-bold mr-3">Kategori</span>
                            <div class="feature-grid-container feature-grid-container--fit"

                            >
                                <div class="feature-grid-element" v-for="cat in tourism_categories" v-bind:key="cat.id">
                                    <div class="d-flex align-items-center">
                                      <span class="font-weight-bold mr-3">{{cat.name}}</span>
                                      <div>
                                          <base-switch></base-switch>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <label>Deskripsi Paket</label>
                            <textarea class="form-control" id="exampleFormControlTextarea3" rows="3"></textarea>
                        </div>
                        <div class="col-8">
                            <label>Thumbnail Image</label>
                            <dropzone-file-upload></dropzone-file-upload>
                        </div>
                    </div>
  </div>
</template>

<script>
import DropzoneFileUpload from '@/components/Inputs/DropzoneFileUpload'
import axios from 'axios';
export default {
components: {
    //   FileInput,
      DropzoneFileUpload
    },
    data() {
      return {
        tourism_categories:{}
      };
    },
    methods: {
      listCategories(){
        axios.get('tourism/categories/')
        .then(res=>{
          if(res.status===200){
            this.tourism_categories = res.data
          }
        })

      }
    },
    mounted() {
      this.listCategories();
    }
}
</script>

<style>
.feature-grid-container {
    display: grid;
}

.feature-grid-container--fill {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.feature-grid-container--fit {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}


.feature-grid-element {

  padding: 20px;

  border: 1px;
}
</style>
