<template>
  <div class="content">

    <div class="">
      <div>
        <card class="no-border-card" body-classes="px-0 pb-1" footer-classes="pb-2">
          <template slot="header">
            <div class="row">
              <div class="col-10">
                <h3 class="mb-0">Data Armada</h3>
                <p class="text-sm mb-0">
                  Data Armada
                </p>
              </div>
              <div class="col-2">
                <base-button
                  type="primary"
                  block
                  class="mb-3"
                  @click="modals.classic = true"
                  >Add +</base-button
                >
              </div>
            </div>
            <!--Classic modal-->
            <modal :show.sync="modals.classic">
              <h6 slot="header" class="modal-title">Tambah Data Armada</h6>
              <div class="modal-body mt--5">
                <form action="" method="post">
                  <div class="form-group">
                    <label>No Plat</label>
                    <input type="text" class="form-control" v-model="no_plat">
                  </div>
                  <div class="form-group">
                    <label>Merk</label>
                    <input type="text" class="form-control" v-model="merk">
                  </div>
                  <div class="form-group">
                    <label>Tipe</label>
                    <input type="text" class="form-control" v-model="tipe">
                  </div>
                  <div class="form-group">
                    <label>Total Penumpang</label>
                    <input type="text" class="form-control" v-model="ttl_penumpang">
                  </div>
                  <div class="form-group">
                    <label>Tahun</label>
                    <input type="text" class="form-control" v-model="tahun">
                  </div>
                  <div class="form-group">
                    <label>Gambar</label>
                    <file-input @change="filesChange"></file-input>
                  </div>
                </form>
              </div>

              <template slot="footer">
                <base-button type="primary">Save changes</base-button>
                <base-button type="link" class="ml-auto" @click="modals.classic = false">Close</base-button>
              </template>

            </modal>

          </template>
          <div>
            <el-table :data="projects"
                      row-key="id"
                      header-row-class-name="thead-light"
                      @sort-change="sortChange"
                      @selection-change="selectionChange"
                      >
              <el-table-column
                prop="id"
                label="id"
                width="75">
              </el-table-column>
              <el-table-column
                prop="no_plat"
                label="no plat"
                width="150">
              </el-table-column>
              <el-table-column
                prop="brand_name"
                label="Merk"
                width="100">
              </el-table-column>
              <el-table-column
                prop="type"
                label="Tipe"
                width="100">
              </el-table-column>
              <el-table-column
                prop="total_ppl"
                label="Total Penumpang"
                width="150">
              </el-table-column>
              <el-table-column
                prop="year"
                label="Tahun"
                width="150">
              </el-table-column>
              <el-table-column
                prop="img"
                label="Gambar"
                width="250">
                <template slot-scope="scope">
                  <img :src="scope.row.img" width="200"/>
                </template>
              </el-table-column>
              <el-table-column min-width="100"
              label="Actions"
              >
                <div slot-scope="{row}">
                  <el-dropdown trigger="click" class="dropdown">
                    <span class="btn btn-md btn-primary">
                      Action
                    </span>
                    <el-dropdown-menu class="dropdown-menu dropdown-menu-arrow show" slot="dropdown">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </el-dropdown-menu>
                  </el-dropdown>
                </div>
              </el-table-column>
            </el-table>
          </div>
          <div
            slot="footer"
            class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
          >
            <div class="">

            </div>
          </div>
        </card>
      </div>
    </div>
</div>
</template>
<script>
import { Table, TableColumn, Select, Option, DropdownMenu, DropdownItem, Dropdown } from 'element-ui';
// import RouteBreadCrumb from '@/components/Breadcrumb/RouteBreadcrumb'
import swal from 'sweetalert2';
import 'sweetalert2/dist/sweetalert2.css';
import { Modal, BasePagination } from '@/components';
import clientPaginationMixin from '../Tables/PaginatedTables/clientPaginationMixin'
import users from '../Tables/armada';
import FileInput from '@/components/Inputs/FileInput'
export default {
  mixins: [clientPaginationMixin],
  components: {
    Modal,
    BasePagination,
    // RouteBreadCrumb,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    [Dropdown.name]: Dropdown,
    [DropdownItem.name]: DropdownItem,
    [DropdownMenu.name]: DropdownMenu,
    FileInput
  },
  data() {
    return {
      modals: {
        classic: false,
        notice: false,
        form: false
      },
      propsToSearch: ['name', 'email', 'age'],
      projects: [
      {
        id: 1,
        no_plat: "DK 1776 YS",
        brand_name: "Toyotoy",
        armada_name: "New Avanza",
        type: "Mobil",
        total_ppl: "6-5 Orang",
        year: "2018",
        img: "img/theme/team-3.jpg"
      },
      {
        id: 2,
        no_plat: "DK 1775 YS",
        brand_name: "Toyotoy",
        armada_name: "New Avanza",
        type: "Mobil",
        total_ppl: "6-5 Orang",
        year: "2018",
        img: "img/theme/team-3.jpg"
      },
      {
        id: 3,
        no_plat: "DK 1775 YS",
        brand_name: "Toyotoy",
        armada_name: "New Avanza",
        type: "Mobil",
        total_ppl: "6-5 Orang",
        year: "2018",
        img: "img/theme/team-3.jpg"
      },
      {
        id: 5,
        no_plat: "DK 1775 YS",
        brand_name: "Toyotoy",
        armada_name: "New Avanza",
        type: "Mobil",
        total_ppl: "6-5 Orang",
        year: "2018",
        img: "img/theme/team-3.jpg"
      },
      {
        id: 6,
        no_plat: "DK 1775 YS",
        brand_name: "Toyotoy",
        armada_name: "New Avanza",
        type: "Mobil",
        total_ppl: "6-5 Orang",
        year: "2018",
        img: "img/theme/team-3.jpg"
      },
      {
        id: 7,
        no_plat: "DK 1775 YS",
        brand_name: "Toyotoy",
        armada_name: "New Avanza",
        type: "Mobil",
        total_ppl: "6-5 Orang",
        year: "2018",
        img: "img/theme/team-3.jpg"
      },
      {
        id: 8,
        no_plat: "DK 1775 YS",
        brand_name: "Toyotoy",
        armada_name: "New Avanza",
        type: "Mobil",
        total_ppl: "6-5 Orang",
        year: "2018",
        img: "img/theme/team-3.jpg"
      },
      {
        id: 9,
        no_plat: "DK 1775 YS",
        brand_name: "Toyotoy",
        armada_name: "New Avanza",
        type: "Mobil",
        total_ppl: "6-5 Orang",
        year: "2018",
        img: "img/theme/team-3.jpg"
      },
      {
        id: 10,
        no_plat: "DK 1775 YS",
        brand_name: "Toyotoy",
        armada_name: "New Avanza",
        type: "Mobil",
        total_ppl: "6-5 Orang",
        year: "2018",
        img: "img/theme/team-3.jpg"
      },
      {
        id: 11,
        no_plat: "DK 1775 YS",
        brand_name: "Toyotoy",
        armada_name: "New Avanza",
        type: "Mobil",
        total_ppl: "6-5 Orang",
        year: "2018",
        img: "img/theme/team-3.jpg"
      },
      {
        id: 12,
        no_plat: "DK 1775 YS",
        brand_name: "Toyotoy",
        armada_name: "New Avanza",
        type: "Mobil",
        total_ppl: "6-5 Orang",
        year: "2018",
        img: "img/theme/team-3.jpg"
      },
      {
        id: 13,
        no_plat: "DK 1775 YS",
        brand_name: "Toyotoy",
        armada_name: "New Avanza",
        type: "Mobil",
        total_ppl: "6-5 Orang",
        year: "2018",
        img: "img/theme/team-3.jpg"
      },
      {
        id: 14,
        no_plat: "DK 1775 YS",
        brand_name: "Toyotoy",
        armada_name: "New Avanza",
        type: "Mobil",
        total_ppl: "6-5 Orang",
        year: "2018",
        img: "img/theme/team-3.jpg"
      },
      {
        id: 15,
        no_plat: "DK 1775 YS",
        brand_name: "Toyotoy",
        armada_name: "New Avanza",
        type: "Mobil",
        total_ppl: "6-5 Orang",
        year: "2018",
        img: "img/theme/team-3.jpg"
      },
      {
        id: 16,
        no_plat: "DK 1775 YS",
        brand_name: "Toyotoy",
        armada_name: "New Avanza",
        type: "Mobil",
        total_ppl: "6-5 Orang",
        year: "2018",
        img: "img/theme/team-3.jpg"
      },
      {
        id: 17,
        no_plat: "DK 1775 YS",
        brand_name: "Toyotoy",
        armada_name: "New Avanza",
        type: "Mobil",
        total_ppl: "6-5 Orang",
        year: "2018",
        img: "img/theme/team-3.jpg"
      },
      {
        id: 18,
        no_plat: "DK 1775 YS",
        brand_name: "Toyotoy",
        armada_name: "New Avanza",
        type: "Mobil",
        total_ppl: "6-5 Orang",
        year: "2018",
        img: "img/theme/team-3.jpg"
      },
      {
        id: 19,
        no_plat: "DK 1775 YS",
        brand_name: "Toyotoy",
        armada_name: "New Avanza",
        type: "Mobil",
        total_ppl: "6-5 Orang",
        year: "2018",
        img: "img/theme/team-3.jpg"
      },
      {
        id: 20,
        no_plat: "DK 1775 YS",
        brand_name: "Toyotoy",
        armada_name: "New Avanza",
        type: "Mobil",
        total_ppl: "6-5 Orang",
        year: "2018",
        img: "img/theme/team-3.jpg"
      },
      {
        id: 21,
        no_plat: "DK 1775 YS",
        brand_name: "Toyotoy",
        armada_name: "New Avanza",
        type: "Mobil",
        total_ppl: "6-5 Orang",
        year: "2018",
        img: "img/theme/team-3.jpg"
      },
      {
        id: 22,
        no_plat: "DK 1775 YS",
        brand_name: "Toyotoy",
        armada_name: "New Avanza",
        type: "Mobil",
        total_ppl: "6-5 Orang",
        year: "2018",
        img: "img/theme/team-3.jpg"
      },
      {
        id: 23,
        no_plat: "DK 1775 YS",
        brand_name: "Toyotoy",
        armada_name: "New Avanza",
        type: "Mobil",
        total_ppl: "6-5 Orang",
        year: "2018",
        img: "img/theme/team-3.jpg"
      },
      {
        id: 24,
        no_plat: "DK 1775 YS",
        brand_name: "Toyotoy",
        armada_name: "New Avanza",
        type: "Mobil",
        total_ppl: "6-5 Orang",
        year: "2018",
        img: "img/theme/team-3.jpg"
      },
      {
        id: 25,
        no_plat: "DK 1775 YS",
        brand_name: "Toyotoy",
        armada_name: "New Avanza",
        type: "Mobil",
        total_ppl: "6-5 Orang",
        year: "2018",
        img: "img/theme/team-3.jpg"
      },
      {
        id: 26,
        no_plat: "DK 1775 YS",
        brand_name: "Toyotoy",
        armada_name: "New Avanza",
        type: "Mobil",
        total_ppl: "6-5 Orang",
        year: "2018",
        img: "img/theme/team-3.jpg"
      },
      {
        id: 27,
        no_plat: "DK 1775 YS",
        brand_name: "Toyotoy",
        armada_name: "New Avanza",
        type: "Mobil",
        total_ppl: "6-5 Orang",
        year: "2018",
        img: "img/theme/team-3.jpg"
      },
      {
        id: 28,
        no_plat: "DK 1775 YS",
        brand_name: "Toyotoy",
        armada_name: "New Avanza",
        type: "Mobil",
        total_ppl: "6-5 Orang",
        year: "2018",
        img: "img/theme/team-3.jpg"
      },
      {
        id: 29,
        no_plat: "DK 1775 YS",
        brand_name: "Toyotoy",
        armada_name: "New Avanza",
        type: "Mobil",
        total_ppl: "6-5 Orang",
        year: "2018",
        img: "img/theme/team-3.jpg"
      },
      {
        id: 30,
        no_plat: "DK 1775 YS",
        brand_name: "Toyotoy",
        armada_name: "New Avanza",
        type: "Mobil",
        total_ppl: "6-5 Orang",
        year: "2018",
        img: "img/theme/team-3.jpg"
      },
      ],
      tableColumns: [
        {
          prop: 'id',
          label: 'ID',
          minWidth: 160,
        },
        {
          prop: 'no_plat',
          label: 'No Plat',
          minWidth: 160,

        },
        {
          prop: 'brand_name',
          label: 'Brand',
          minWidth: 220,

        },
        {
          prop: 'armada_name',
          label: 'Nama Armada',
          minWidth: 135,

        },
        {
          prop: 'type',
          label: 'Tipe',
          minWidth: 100,

        },
        {
          prop: 'total_ppl',
          label: 'Jumlah Muatan',
          minWidth: 150,

        },
        {
          prop: 'year',
          label: 'Tahun',
          minWidth: 120,

        },
        {
          prop: 'img',
          label: 'Foto',
          minWidth: 150,

        }
      ],
      tableData: users,
      selectedRows: []
    };
  },
  methods: {
    handleLike(index, row) {
      swal({
        title: `You liked ${row.name}`,
        buttonsStyling: false,
        type: 'success',
        confirmButtonClass: 'btn btn-success btn-fill'
      });
    },
    handleEdit(index, row) {
      swal({
        title: `You want to edit ${row.name}`,
        buttonsStyling: false,
        confirmButtonClass: 'btn btn-info btn-fill'
      });
    },
    handleDelete(index, row) {
      swal({
        title: 'Are you sure?',
        text: `You won't be able to revert this!`,
        type: 'warning',
        showCancelButton: true,
        confirmButtonClass: 'btn btn-success btn-fill',
        cancelButtonClass: 'btn btn-danger btn-fill',
        confirmButtonText: 'Yes, delete it!',
        buttonsStyling: false
      }).then(result => {
        if (result.value) {
          this.deleteRow(row);
          swal({
            title: 'Deleted!',
            text: `You deleted ${row.name}`,
            type: 'success',
            confirmButtonClass: 'btn btn-success btn-fill',
            buttonsStyling: false
          });
        }
      });
    },
    deleteRow(row) {
      let indexToDelete = this.tableData.findIndex(
        tableRow => tableRow.id === row.id
      );
      if (indexToDelete >= 0) {
        this.tableData.splice(indexToDelete, 1);
      }
    },
    selectionChange(selectedRows) {
      this.selectedRows = selectedRows
    },

  }
};
</script>
<style>
  .no-border-card .card-footer{
    border-top: 0;
  }
</style>
