<template>
  <div class="content">
    
    <div class="">
      <div>
        <card class="no-border-card" body-classes="px-0 pb-1" footer-classes="pb-2">
          <template slot="header">
            <div class="row">
              <div class="col-10">
                <h3 class="mb-0">Data Driver</h3>
                <p class="text-sm mb-0">
                  Data Driver
                </p>
              </div>
              <div class="col-2">
                <base-button
                  type="primary"
                  block
                  class="mb-3"
                  @click="modals.classic = true"
                  >Add +</base-button
                >
              </div>
            </div>
            <!--Classic modal-->
            <modal :show.sync="modals.classic">
              <h6 slot="header" class="modal-title">Tambah Data Armada</h6>
              <div class="modal-body mt--5">
                <form action="" method="post">
                  <div class="form-group">
                    <label>Nama</label>
                    <input type="text" class="form-control" v-model="nama">
                  </div>
                  <div class="form-group">
                    <label>No KTP</label>
                    <input type="text" class="form-control" v-model="noktp">
                  </div>
                  <div class="form-group">
                    <label>No Sim</label>
                    <input type="text" class="form-control" v-model="nosim">
                  </div>
                  <div class="form-group">
                    <label>Gambar</label>
                    <file-input @change="filesChange"></file-input>
                  </div>
                </form>
              </div>

              <template slot="footer">
                <base-button type="primary">Save changes</base-button>
                <base-button type="link" class="ml-auto" @click="modals.classic = false">Close</base-button>
              </template>

            </modal>
          </template>
          <div>
            <el-table :data="projects"
                      row-key="id"
                      header-row-class-name="thead-light"
                      @sort-change="sortChange"
                      @selection-change="selectionChange" 
                      >
              <el-table-column
                prop="no"
                label="no"
                width="75">
              </el-table-column>
              <el-table-column
                prop="name"
                label="Nama"
                width="200">
              </el-table-column>
              <el-table-column
                prop="no_ktp"
                label="No.KTP"
                width="200">
              </el-table-column>
              <el-table-column
                prop="no_sim"
                label="No.SIM"
                width="200">
              </el-table-column>
              <el-table-column
                prop="img"
                label="Foto"
                width="250">
                <template slot-scope="scope">
                  <img :src="scope.row.img" width="200"/>
                </template>
              </el-table-column>
              <el-table-column min-width="100" 
              label="Actions"
              >
                <div slot-scope="{row}">
                  <el-dropdown trigger="click" class="dropdown">
                    <span class="btn btn-md btn-primary">
                      Action
                    </span>
                    <el-dropdown-menu class="dropdown-menu dropdown-menu-arrow show" slot="dropdown">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </el-dropdown-menu>
                  </el-dropdown>
                </div>
              </el-table-column>
            </el-table>
          </div>
          <div
            slot="footer"
            class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
          >
            <div class="">
              <p class="card-category">
                Showing {{ from + 1 }} to {{ to }} of {{ total }} entries

                <span v-if="selectedRows.length">
                  &nbsp; &nbsp; {{selectedRows.length}} rows selected
                </span>
              </p>

            </div>
            <base-pagination
              class="pagination-no-border"
              v-model="pagination.currentPage"
              :per-page="pagination.perPage"
              :total="total"
            >
            </base-pagination>
          </div>
        </card>
      </div>
    </div>
</div>
</template>
<script>
import { Table, TableColumn, Select, Option, DropdownMenu, DropdownItem, Dropdown } from 'element-ui';
import RouteBreadCrumb from '@/components/Breadcrumb/RouteBreadcrumb'
import { BasePagination } from '@/components';
import clientPaginationMixin from '../Tables/PaginatedTables/clientPaginationMixin'
import swal from 'sweetalert2';
import users from '../Tables/armada';
import FileInput from '@/components/Inputs/FileInput'
export default {
  mixins: [clientPaginationMixin],
  components: {
    BasePagination,
    RouteBreadCrumb,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    [Dropdown.name]: Dropdown,
    [DropdownItem.name]: DropdownItem,
    [DropdownMenu.name]: DropdownMenu,
    FileInput
  },
  data() {
    return {
      modals : {
        classic: false,
        notice: false,
        form: false
      },
      propsToSearch: ['name', 'email', 'age'],
      projects: [
      {
        no: 1,
        name: "Putu Beringkit",
        no_ktp: "5171234567890",
        no_sim: "5171234567890",
        img: "img/theme/team-3.jpg"
      },
      {
        no: 2,
        name: "Putu Beringkit",
        no_ktp: "5171234567890",
        no_sim: "5171234567890",
        img: "img/theme/team-3.jpg"
      },
      {
        no: 3,
        name: "Putu Beringkit",
        no_ktp: "5171234567890",
        no_sim: "5171234567890",
        img: "img/theme/team-3.jpg"
      },
      {
        no: 4,
        name: "Putu Beringkit",
        no_ktp: "5171234567890",
        no_sim: "5171234567890",
        img: "img/theme/team-3.jpg"
      },
      {
        no: 5,
        name: "Putu Beringkit",
        no_ktp: "5171234567890",
        no_sim: "5171234567890",
        img: "img/theme/team-3.jpg"
      },
      {
        no: 6,
        name: "Putu Beringkit",
        no_ktp: "5171234567890",
        no_sim: "5171234567890",
        img: "img/theme/team-3.jpg"
      },
      {
        no: 7,
        name: "Putu Beringkit",
        no_ktp: "5171234567890",
        no_sim: "5171234567890",
        img: "img/theme/team-3.jpg"
      },
      {
        no: 8,
        name: "Putu Beringkit",
        no_ktp: "5171234567890",
        no_sim: "5171234567890",
        img: "img/theme/team-3.jpg"
      },
      {
        no: 9,
        name: "Putu Beringkit",
        no_ktp: "5171234567890",
        no_sim: "5171234567890",
        img: "img/theme/team-3.jpg"
      },
      {
        no: 10,
        name: "Putu Beringkit",
        no_ktp: "5171234567890",
        no_sim: "5171234567890",
        img: "img/theme/team-3.jpg"
      },
      {
        no: 11,
        name: "Putu Beringkit",
        no_ktp: "5171234567890",
        no_sim: "5171234567890",
        img: "img/theme/team-3.jpg"
      },
      {
        no: 12,
        name: "Putu Beringkit",
        no_ktp: "5171234567890",
        no_sim: "5171234567890",
        img: "img/theme/team-3.jpg"
      }, 
      {
        no: 13,
        name: "Putu Beringkit",
        no_ktp: "5171234567890",
        no_sim: "5171234567890",
        img: "img/theme/team-3.jpg"
      },
      {
        no: 14,
        name: "Putu Beringkit",
        no_ktp: "5171234567890",
        no_sim: "5171234567890",
        img: "img/theme/team-3.jpg"
      },
      {
        no: 15,
        name: "Putu Beringkit",
        no_ktp: "5171234567890",
        no_sim: "5171234567890",
        img: "img/theme/team-3.jpg"
      },
      ],
      tableColumns: [
        {
          prop: 'no',
          label: 'No',
          minWidth: 160,
        },
        {
          prop: 'name',
          label: 'Nama',
          minWidth: 160,
          
        },
        {
          prop: 'no_ktp',
          label: 'No.KTP',
          minWidth: 220,
          
        },
        {
          prop: 'no_sim',
          label: 'No.SIM',
          minWidth: 135,
          
        },
        {
          prop: 'img',
          label: 'Foto',
          minWidth: 150,
          
        }
      ],
      tableData: users,
      selectedRows: []
    };
  },
  methods: {
    handleLike(index, row) {
      swal({
        title: `You liked ${row.name}`,
        buttonsStyling: false,
        type: 'success',
        confirmButtonClass: 'btn btn-success btn-fill'
      });
    },
    handleEdit(index, row) {
      swal({
        title: `You want to edit ${row.name}`,
        buttonsStyling: false,
        confirmButtonClass: 'btn btn-info btn-fill'
      });
    },
    handleDelete(index, row) {
      swal({
        title: 'Are you sure?',
        text: `You won't be able to revert this!`,
        type: 'warning',
        showCancelButton: true,
        confirmButtonClass: 'btn btn-success btn-fill',
        cancelButtonClass: 'btn btn-danger btn-fill',
        confirmButtonText: 'Yes, delete it!',
        buttonsStyling: false
      }).then(result => {
        if (result.value) {
          this.deleteRow(row);
          swal({
            title: 'Deleted!',
            text: `You deleted ${row.name}`,
            type: 'success',
            confirmButtonClass: 'btn btn-success btn-fill',
            buttonsStyling: false
          });
        }
      });
    },
    deleteRow(row) {
      let indexToDelete = this.tableData.findIndex(
        tableRow => tableRow.id === row.id
      );
      if (indexToDelete >= 0) {
        this.tableData.splice(indexToDelete, 1);
      }
    },
    selectionChange(selectedRows) {
      this.selectedRows = selectedRows
    }
  }
};
</script>
<style>
  .no-border-card .card-footer{
    border-top: 0;
  }
</style>