<template>
  <!-- On Journey Dashboard -->
  <div>
    <base-header>
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 d-inline-block mb-0">Driver</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links">
              <li class="breadcrumb-item">
                <router-link to="/"><i class="fas fa-home"></i></router-link>
              </li>
              <li class="ml-2 mr-2">/</li>
              <li class="h4 text-black">Dashboards</li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <base-button size="sm" type="neutral">New</base-button>
          <base-button size="sm" type="neutral">Filters</base-button>
        </div>
      </div>
    </base-header>

    <div>
      <light-table></light-table>
    </div>
  </div>
</template>
<script>
  // Charts
  import * as chartConfigs from '@/components/Charts/config';
  import DoughnutChart from '@/components/Charts/DoughnutChart';
  import LineChart from '@/components/Charts/LineChart';
  import BarChart from '@/components/Charts/BarChart';
  import {
    Charts
  } from "@/components/Charts/config";

  // Components
  import BaseHeader from '@/components/BaseHeader';
  import BaseProgress from '@/components/BaseProgress';

  // Lists
  import ProgressTrackList from './ProgressTrackList';
  import MembersCard from '@/views/Widgets/MembersCard';
  import TaskList from '@/views/Widgets/TaskList';

  // Tables
  import LightTable from './DriverTable';
  import VectorMapCard from '@/views/Widgets/VectorMapCard'

  function randomScalingFactor() {
    return Math.round(Math.random() * 100);
  }

  export default {
    components: {
      DoughnutChart,
      LineChart,
      BarChart,
      BaseHeader,
      BaseProgress,
      TaskList,
      VectorMapCard,
      LightTable,
      ProgressTrackList,
      MembersCard
    },
    data() {
      return {
        pagination: {
          default: 1
        },
        bigLineChart: {
          chartData: {
            datasets: [{
              label: 'Performance',
              data: [0, 20, 10, 30, 15, 40, 20, 60, 60],
            }],
            labels: ['May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
          },
          extraOptions: chartConfigs.blueChartOptions,
        },
        redBarChart: {
          chartData: {
            labels: ['Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            datasets: [{
              label: 'Sales',
              data: [25, 20, 30, 22, 17, 29]
            }]
          }
        },
        doughnutChart: {
          chartData: {

            labels: [
              'Danger',
              'Warning',
              'Success',
              'Primary',
              'Info'
            ],
            datasets: [{
              data: [
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor(),
                randomScalingFactor(),
              ],
              backgroundColor: [
                Charts.colors.theme['danger'],
                Charts.colors.theme['warning'],
                Charts.colors.theme['success'],
                Charts.colors.theme['primary'],
                Charts.colors.theme['info'],
              ],
              label: 'Dataset 1'
            }],
          },
          extraOptions: {
            responsive: true,
            legend: {
              position: 'top',
            },
            animation: {
              animateScale: true,
              animateRotate: true
            }
          }
        },
      };
    }
  };

</script>
<style>
  .corner-ribbon {
    width: 80px;
    height: 80px;
    background: #e43;
    top: 25px;
    left: 10px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    /* Pay attention! */
    z-index: 0;
    position: absolute;
  }

  /* Custom styles */

  .corner-ribbon.shadow {
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  }

  .corner-ribbon.top-left {
    top: 25px;
    left: 17px;
  }

  .corner-ribbon-top {
    width: 100px;
    background: #e43;
    top: 25px;
    left: 10px;
    text-align: center;
    line-height: 30px;
    color: #f0f0f0;
    /* Pay attention! */
    z-index: 1;
    position: absolute;
  }

  /* Custom styles */

  .corner-ribbon-top.shadow {
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  }

  .corner-ribbon-top.top-left {
    top: 35px;
    left: 0.5px;
  }

  /* Colors */

  .corner-ribbon.white {
    background: #f0f0f0;
    color: #555;
  }

  .corner-ribbon.black {
    background: #333;
  }

  .corner-ribbon.grey {
    background: #999;
  }

  .corner-ribbon.blue {
    background: rgb(23, 42, 160);
  }

  .corner-ribbon.green {
    background: #2c7;
  }

  .corner-ribbon.turquoise {
    background: #1b9;
  }

  .corner-ribbon.purple {
    background: #95b;
  }

  .corner-ribbon.red {
    background: #e43;
  }

  .corner-ribbon.orange {
    background: #e82;
  }

  .corner-ribbon.yellow {
    background: #ec0;
  }

  .corner-ribbon-top.white {
    background: #f0f0f0;
    color: #555;
  }

  .corner-ribbon-top.black {
    background: #333;
  }

  .corner-ribbon-top.grey {
    background: #999;
  }

  .corner-ribbon-top.blue {
    background: rgb(23, 64, 160);
  }

  .corner-ribbon-top.green {
    background: #2c7;
  }

  .corner-ribbon-top.turquoise {
    background: #1b9;
  }

  .corner-ribbon-top.purple {
    background: #95b;
  }

  .corner-ribbon-top.red {
    background: #e43;
  }

  .corner-ribbon-top.orange {
    background: #e82;
  }

  .corner-ribbon-top.yellow {
    background: #ec0;
  }

</style>
