<template>
  <div>
    <base-header class="pb-6" type="primary">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Default</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-bread-crumb></route-bread-crumb>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <base-button size="sm" type="neutral">New</base-button>
          <base-button size="sm" type="neutral">Filters</base-button>
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-12">
          <div class="card p-4">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                  type="button" role="tab" aria-controls="nav-home" aria-selected="true">Informasi Akun</button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                  type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Layanan</button>
                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                  type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Armada</button>
                <button class="nav-link" id="nav-driver-tab" data-bs-toggle="tab" data-bs-target="#nav-driver"
                  type="button" role="tab" aria-controls="nav-driver" aria-selected="false">Driver</button>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="row mt-4">
                  <div class="col-xl-6">
                    <div class="row mt-8 mb-8">
                      <div class="col-xl-12">
                        <div class="card-profile-image">
                          <a href="#">
                            <img src="img/theme/team-4.jpg" class="rounded-circle">
                          </a>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xl-12">
                        <dropzone-file-upload v-model="fileSingle"></dropzone-file-upload>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6">
                    <div class="form-group">
                      <label>Nama</label>
                      <input type="text" class="form-control" v-model="nama" disabled>
                    </div>
                    <div class="form-group">
                      <label>Deskripsi Travel</label>
                      <textarea class="form-control" id="exampleFormControlTextarea3" rows="3"></textarea>
                    </div>
                    <div class="row">
                      <div class="col-xl-7">
                        <base-button type="primary">Request Perubahan Nama Travel</base-button>
                      </div>
                      <div class="col-xl-5">
                        <base-button type="primary">Rubah Password</base-button>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Nomor Telepon</label>
                      <input type="text" class="form-control" v-model="notelp">
                    </div>
                    <div class="form-group">
                      <label>Email</label>
                      <input type="text" class="form-control" v-model="email">
                    </div>
                    <div class="form-group">
                      <label>Alamat</label>
                      <input type="text" class="form-control" v-model="alamat">
                    </div>
                    <div class="col-xl-5" style="float:right;">
                      <div style="float:right;">
                        <base-button type="primary">Simpan Perubahan</base-button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="row m-4">
                  <div class="col-xl-12">
                    <div class="form-group">
                      <label>Email</label>
                      <div class="row">
                        <div class="col-xl-2">

                          <select class="form-control">
                            <option>Rp</option>
                            <option>Usd</option>
                          </select>
                        </div>
                        <div class="col-xl-3">
                          <input type="text" class="form-control" v-model="email">
                        </div>
                        <div class="col-xl-7">
                          <div style="float:right;">
                            <base-button type="primary">Add Custom Price</base-button>
                          </div>
                        </div>
                        <table>
                          <thead>
                          <th></th>
                          <th>Destination Custom Price Rate</th>
                          <th>Rate</th>
                          <th>Keterangan</th>
                          <th>Action</th>
                          </thead>
                          <tbody id="tbodyField">
                            <tr>
                              <td>1</td>
                              <td style="border-width:1px;">
                                <img src="https://cdn.newsapi.com.au/image/v1/264169e6e724eaa26782602bbd00345f?width=1024" alt="" width="100px" height="100px">
                                Bedugul
                              </td>
                              <td>Rp. 75.000</td>
                              <td>Tambahan karcis + Biaya masuk</td>
                              <td>
                                <base-button type="primary">Edit</base-button>
                                <base-button type="primary">Delete</base-button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-12">
                    <div class="form-group">
                      <label>Email</label>
                      <div class="row">
                        <div class="col-xl-6">
                          <base-button type="primary">Add Languange</base-button>
                          <base-button type="primary">English</base-button>
                          <base-button type="primary">Mandarin</base-button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-12">
                    <div class="form-group">
                      <label>Hotel Price Rate</label>
                      <div class="row">
                        <div class="col-xl-2">

                          <select class="form-control">
                            <option>Rp</option>
                            <option>Usd</option>
                          </select>
                        </div>
                        <div class="col-xl-3">
                          <input type="text" class="form-control" v-model="email">
                        </div>
                        <div class="col-xl-7">
                          <div style="float:right;">
                            <base-button type="primary">Add Price Rate</base-button>
                          </div>
                        </div>
                        <table>
                          <thead>
                          <th></th>
                          <th>Destination Custom Price Rate</th>
                          <th>Bintang</th>
                          <th>Rate</th>
                          <th>Keterangan</th>
                          <th>Action</th>
                          </thead>
                          <tbody id="tbodyField">
                            <tr>
                              <td>1</td>
                              <td style="border-width:1px;">
                                <img src="https://cdn.newsapi.com.au/image/v1/264169e6e724eaa26782602bbd00345f?width=1024" alt="" width="100px" height="100px">
                                Bedugul
                              </td>
                              <td>
                                <select class="form-control">
                                  <option selected disabled>Bintang</option>
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                  <option>4</option>
                                  <option>5</option>
                                </select>
                              </td>
                              <td>Rp. 75.000</td>
                              <td>Tambahan karcis + Biaya masuk</td>
                              <td>
                                <base-button type="primary">Edit</base-button>
                                <base-button type="primary">Delete</base-button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <light-table></light-table>
              </div>
              <div class="tab-pane fade" id="nav-driver" role="tabpanel" aria-labelledby="nav-driver-tab">
                <card class="no-border-card" body-classes="px-0 pb-1" footer-classes="pb-2">
                  <template slot="header">
                    <div class="row">
                      <div class="col-10">
                        <h3 class="mb-0">Data Driver</h3>
                        <p class="text-sm mb-0">
                          Data Driver
                        </p>
                      </div>
                      <div class="col-2">
                        <base-button type="primary" block class="mb-3" @click="modals.classic = true">Add +
                        </base-button>
                      </div>
                    </div>
                    <!--Classic modal-->
                    <modal :show.sync="modals.classic">
                      <h6 slot="header" class="modal-title">Tambah Data Armada</h6>
                      <div class="modal-body mt--5">
                        <form action="" method="post">
                          <div class="form-group">
                            <label>Nama</label>
                            <input type="text" class="form-control" v-model="nama">
                          </div>
                          <div class="form-group">
                            <label>No KTP</label>
                            <input type="text" class="form-control" v-model="noktp">
                          </div>
                          <div class="form-group">
                            <label>No Sim</label>
                            <input type="text" class="form-control" v-model="nosim">
                          </div>
                          <div class="form-group">
                            <label>Gambar</label>
                            <file-input @change="filesChange"></file-input>
                          </div>
                        </form>
                      </div>

                      <template slot="footer">
                        <base-button type="primary">Save changes</base-button>
                        <base-button type="link" class="ml-auto" @click="modals.classic = false">Close</base-button>
                      </template>

                    </modal>
                  </template>
                  <div>
                    <el-table :data="projects" row-key="id" header-row-class-name="thead-light"
                      @sort-change="sortChange" @selection-change="selectionChange">
                      <el-table-column prop="no" label="no" width="75">
                      </el-table-column>
                      <el-table-column prop="name" label="Nama" width="200">
                      </el-table-column>
                      <el-table-column prop="no_ktp" label="No.KTP" width="200">
                      </el-table-column>
                      <el-table-column prop="no_sim" label="No.SIM" width="200">
                      </el-table-column>
                      <el-table-column prop="img" label="Foto" width="250">
                        <template slot-scope="scope">
                          <img :src="scope.row.img" width="200" />
                        </template>
                      </el-table-column>
                      <el-table-column min-width="100" label="Actions">
                        <div slot-scope="{row}">
                          <el-dropdown trigger="click" class="dropdown">
                            <span class="btn btn-md btn-primary">
                              Action
                            </span>
                            <el-dropdown-menu class="dropdown-menu dropdown-menu-arrow show" slot="dropdown">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                            </el-dropdown-menu>
                          </el-dropdown>
                        </div>
                      </el-table-column>
                    </el-table>
                  </div>
                  <div slot="footer" class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap">
                    <div class="">
                      <p class="card-category">
                        Showing {{ from + 1 }} to {{ to }} of {{ total }} entries

                        <span v-if="selectedRows.length">
                          &nbsp; &nbsp; {{selectedRows.length}} rows selected
                        </span>
                      </p>

                    </div>
                  </div>
                </card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
<script>
  // Charts
  import * as chartConfigs from '@/components/Charts/config';
  import LineChart from '@/components/Charts/LineChart';
  import BarChart from '@/components/Charts/BarChart';

  // Components
  import BaseProgress from '@/components/BaseProgress';
  import RouteBreadCrumb from '@/components/Breadcrumb/RouteBreadcrumb';
  import StatsCard from '@/components/Cards/StatsCard';

  // Lists
  import ActivityFeed from './ActivityFeed';
  import TaskList from './TaskList';
  import UserList from './UserList';
  import ProgressTrackList from './ProgressTrackList';

  // Tables
  import LightTable from './ArmadaTable';
  import SocialTrafficTable from './SocialTrafficTable';
  import PageVisitsTable from './PageVisitsTable';

  import {
    Table,
    TableColumn,
    Select,
    Option,
    DropdownMenu,
    DropdownItem,
    Dropdown
  } from 'element-ui';
  // import RouteBreadCrumb from '@/components/Breadcrumb/RouteBreadcrumb'
  import {
    BasePagination
  } from '@/components';
  // import clientPaginationMixin from '../Tables/PaginatedTables/clientPaginationMixin'
  // import swal from 'sweetalert2';
  import users from '../Tables/armada';
  import FileInput from '@/components/Inputs/FileInput'
  import DropzoneFileUpload from '@/components/Inputs/DropzoneFileUpload'

  export default {
    components: {
      ActivityFeed,
      LineChart,
      BarChart,
      BaseProgress,
      RouteBreadCrumb,
      StatsCard,
      TaskList,
      PageVisitsTable,
      SocialTrafficTable,
      LightTable,
      UserList,
      ProgressTrackList,
      BasePagination,
      // RouteBreadCrumb,
      [Select.name]: Select,
      [Option.name]: Option,
      [Table.name]: Table,
      [TableColumn.name]: TableColumn,
      [Dropdown.name]: Dropdown,
      [DropdownItem.name]: DropdownItem,
      [DropdownMenu.name]: DropdownMenu,
      FileInput,
      DropzoneFileUpload
    },
    data() {
      return {
        fileSingle: [],
        modals: {
          classic: false,
          notice: false,
          form: false
        },
        propsToSearch: ['name', 'email', 'age'],
        projects: [{
            no: 1,
            name: "Putu Beringkit",
            no_ktp: "5171234567890",
            no_sim: "5171234567890",
            img: "img/theme/team-3.jpg"
          },
          {
            no: 2,
            name: "Putu Beringkit",
            no_ktp: "5171234567890",
            no_sim: "5171234567890",
            img: "img/theme/team-3.jpg"
          },
          {
            no: 3,
            name: "Putu Beringkit",
            no_ktp: "5171234567890",
            no_sim: "5171234567890",
            img: "img/theme/team-3.jpg"
          },
          {
            no: 4,
            name: "Putu Beringkit",
            no_ktp: "5171234567890",
            no_sim: "5171234567890",
            img: "img/theme/team-3.jpg"
          },
          {
            no: 5,
            name: "Putu Beringkit",
            no_ktp: "5171234567890",
            no_sim: "5171234567890",
            img: "img/theme/team-3.jpg"
          },
          {
            no: 6,
            name: "Putu Beringkit",
            no_ktp: "5171234567890",
            no_sim: "5171234567890",
            img: "img/theme/team-3.jpg"
          },
          {
            no: 7,
            name: "Putu Beringkit",
            no_ktp: "5171234567890",
            no_sim: "5171234567890",
            img: "img/theme/team-3.jpg"
          },
          {
            no: 8,
            name: "Putu Beringkit",
            no_ktp: "5171234567890",
            no_sim: "5171234567890",
            img: "img/theme/team-3.jpg"
          },
          {
            no: 9,
            name: "Putu Beringkit",
            no_ktp: "5171234567890",
            no_sim: "5171234567890",
            img: "img/theme/team-3.jpg"
          },
          {
            no: 10,
            name: "Putu Beringkit",
            no_ktp: "5171234567890",
            no_sim: "5171234567890",
            img: "img/theme/team-3.jpg"
          },
          {
            no: 11,
            name: "Putu Beringkit",
            no_ktp: "5171234567890",
            no_sim: "5171234567890",
            img: "img/theme/team-3.jpg"
          },
          {
            no: 12,
            name: "Putu Beringkit",
            no_ktp: "5171234567890",
            no_sim: "5171234567890",
            img: "img/theme/team-3.jpg"
          },
          {
            no: 13,
            name: "Putu Beringkit",
            no_ktp: "5171234567890",
            no_sim: "5171234567890",
            img: "img/theme/team-3.jpg"
          },
          {
            no: 14,
            name: "Putu Beringkit",
            no_ktp: "5171234567890",
            no_sim: "5171234567890",
            img: "img/theme/team-3.jpg"
          },
          {
            no: 15,
            name: "Putu Beringkit",
            no_ktp: "5171234567890",
            no_sim: "5171234567890",
            img: "img/theme/team-3.jpg"
          },
        ],
        tableColumns: [{
            prop: 'no',
            label: 'No',
            minWidth: 160,
          },
          {
            prop: 'name',
            label: 'Nama',
            minWidth: 160,

          },
          {
            prop: 'no_ktp',
            label: 'No.KTP',
            minWidth: 220,

          },
          {
            prop: 'no_sim',
            label: 'No.SIM',
            minWidth: 135,

          },
          {
            prop: 'img',
            label: 'Foto',
            minWidth: 150,

          }
        ],
        tableData: users,
        selectedRows: [],
        bigLineChart: {
          allData: [
            [0, 20, 10, 30, 15, 40, 20, 60, 60],
            [0, 20, 5, 25, 10, 30, 15, 40, 40]
          ],
          activeIndex: 0,
          chartData: {
            datasets: [{
              label: 'Performance',
              data: [0, 20, 10, 30, 15, 40, 20, 60, 60],
            }],
            labels: ['May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
          },
          extraOptions: chartConfigs.blueChartOptions,
        },
        redBarChart: {
          chartData: {
            labels: ['Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            datasets: [{
              label: 'Sales',
              data: [25, 20, 30, 22, 17, 29]
            }]
          },
          extraOptions: chartConfigs.blueChartOptions
        }
      };
    },
    methods: {
      initBigChart(index) {
        let chartData = {
          datasets: [{
            label: 'Performance',
            data: this.bigLineChart.allData[index]
          }],
          labels: ['May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
        };
        this.bigLineChart.chartData = chartData;
        this.bigLineChart.activeIndex = index;
      }
    },
    mounted() {
      this.initBigChart(0);
    }
  };

</script>
<style>
#tbodyField tr td {
  border-width: 1px;
}
</style>
