<template>
  <div>
    <base-header class="pb-6">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">{{$route.name}}</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <route-breadcrumb/>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <base-button size="sm" type="neutral">New</base-button>
          <base-button size="sm" type="neutral">Filters</base-button>
        </div>
      </div>
    </base-header>

    <div class="container-fluid mt--6">
      <div class="card mb-4">
        <!-- Card header -->
        <div class="card-header">
          <h3 class="mb-0">Tambah travel agent</h3>
        </div>
        <!-- Card body -->
        <div class="card-body">
          <!-- Form groups used in grid -->
          <div class="row">
            <div class="col-md-12">
              <vue-suggest class="asdad" pattern="\w+"
                v-model="model"
        				:min-length="3"
        				:max-suggestions="15"
                :list="getList"
                :debounce="200"
                :filter-by-query="false"
                :mode="mode"
                :nullable-select="true"
                ref="suggestComponent"
                placeholder="Search information..."
                value-attribute="id"
                display-attribute="email"
                @suggestion-click="onSuggestClick"
                @select="onSuggestSelect"
                @hover="onSuggestHover"
                @focus="onFocus"
                @blur="onBlur"
                @request-start="onRequestStart"
                @request-done="onRequestDone"
                @request-failed="onRequestFailed"
                @show-list="onShowList"
                @hide-list="onHideList">
                <div class="g">
                  <input type="text">
                </div>

                <!-- <test-input placeholder="Search information..." /> -->

                <template slot="misc-item-above" slot-scope="{ suggestions, query }">
                  <div class="misc-item">
                    <span>Search '{{ query }}' ,
                      <span v-if="suggestions.length > 0">{{ suggestions.length }} result</span>
                      <span v-else-if="!loading">No results</span>
                    </span>
                  </div>
                </template>

                <div slot="suggestion-item" slot-scope="scope" :title="scope.suggestion.description">
                  <!-- <div class="text">
                    <span v-html="boldenSuggestion(scope)"></span>
                  </div> -->
                  <div class="col-sm-9">
                    <h1 class="display-4 mb-0"><span v-html="boldenSuggestion(scope)"></span></h1>
                  </div>
                  <!-- <button @click.stop="addToLog(scope.suggestion.username)">Log</button>
                  <button @click.stop="goto(scope.suggestion.email)">Open WIKI</button> -->
                </div>

                <div class="misc-item" slot="misc-item-below" slot-scope="{ suggestions }" v-if="loading">
                  <span>Loading...</span>
                </div>
              </vue-suggest>

              <!-- <vue-simple-suggest
                v-model="chosen"
                :list="simpleSuggestionList"
                :filter-by-query="true">
              </vue-simple-suggest> -->

							<!-- <base-button type="submit" class="btn btn-primary mt-4" native-type="submit">Search</base-button> -->
            </div>
            <!-- <div class="col-md-6">
              <base-input label="One of two cols" placeholder="One of two cols"/>
            </div> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="card-wrapper">
            <div class="card">
              <div class="card-header border-0">
                <div class="row">
                  <div class="col-6">
                    <h3 class="mb-0">List Travel Agent</h3>
                  </div>
                  <div class="col-6 text-right">
                    <el-tooltip content="Export" placement="top">
                      <base-button type="neutral" icon size="sm">
                        <span class="btn-inner--icon"><i class="fas fa-user-edit"></i></span>
                        <span class="btn-inner--text">Export</span>
                      </base-button>
                    </el-tooltip>
                  </div>
                </div>
              </div>

              <el-table class="table-responsive align-items-center table-flush"
                        header-row-class-name="thead-light"
                        :data="users">
                <el-table-column label="Owner"
                                 min-width="210px"
                                 prop="owner.username"
                                 sortable>
                </el-table-column>

                <el-table-column label="Company"
                                 min-width="200px"
                                 prop="company_name"
                                 sortable>
                  <template v-slot="{row}">
                    <a href="#!" @click.prevent="onDetail(row)" class="font-weight-bold">{{row.company_name}}</a>
                  </template>
                </el-table-column>

                <el-table-column label="Email"
                                 min-width="200px"
                                 prop="owner.email"
                                 sortable>
                </el-table-column>

                <el-table-column label="Country"
                                 prop="country.name"
                                 min-width="140px"
                                 sortable>
                </el-table-column>

                <el-table-column label="Logo"
                                 min-width="140px"
                                 prop="logo"
                                 sortable>
                  <template v-slot="{row}">
                    <img :src="row.logo" class="avatar avatar-xl " width="200">
                    <b>{{row.name}}</b>
                  </template>
                </el-table-column>

                <el-table-column min-width="120px"
                                 label="Verified"
                                 prop="is_verified"
                                 sortable
                                 align="center">
                  <template v-slot="{row}">
                    <!-- <div class="d-flex justify-content-center">
                      <base-switch v-model="row.is_verified" @change="verifiedTravelagent(row.is_verified)">
                      </base-switch>
                    </div> -->
                    <label class="custom-toggle">
                        <input type="checkbox"
                               v-model="row.is_verified"
                               @change="verifiedTravelagent(row)"
                               >
                        <span data-label-on="Yes" data-label-off="No" class="custom-toggle-slider rounded-circle"></span>
                    </label>
                  </template>
                </el-table-column>

                <el-table-column min-width="180px" align="center">
                  <div slot-scope="{row}" class="table-actions">
                    <el-tooltip content="Detail" placement="top">
                      <a href="#!" @click.prevent="onDetail(row)" class="table-action" data-toggle="tooltip" data-original-title="Edit product">
                        <i class="fas fa-user-edit"></i>
                      </a>
                    </el-tooltip>
                    <el-tooltip content="Delete" placement="top">
                      <a href="#!" @click.prevent="onDelete(row)" class="table-action table-action-delete" data-toggle="tooltip"
                         data-original-title="Delete product">
                        <i class="fas fa-trash"></i>
                      </a>
                    </el-tooltip>
                  </div>
                </el-table-column>
              </el-table>

              <modal :show.sync="modals.detail_travel" class="modal fade bd-example-modal-lg">
                <h6 slot="header" class="modal-title">{{ modals.company }}</h6>
                <img :src="modals.logo" class="rounded mx-auto d-block" style="width: 300px;">
                <div class="my-4">
                    <span class="h6 surtitle text-muted">
                      E-mail
                    </span>
                    <div class="h1">{{modals.email}}</div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="h6 surtitle text-muted">Website</span>
                        <span class="d-block h3">{{modals.website}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="h6 surtitle text-muted">Owner</span>
                        <span class="d-block h3">{{modals.owner}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="h6 surtitle text-muted">Country</span>
                        <span class="d-block h3">{{modals.country}}</span>
                    </div>
                </div>
                <template slot="footer">
                  <base-button type="link" class="ml-auto" @click="modals.detail_travel = false">Close</base-button>
                </template>
              </modal>
              <div class="card-footer py-4 d-flex justify-content-end">

                  <!-- <base-pagination
                    v-model="currentPage"
                    :total="50"
                    :perPage="2"
                  ></base-pagination> -->

                <!-- <ul class="pagination">
                  <li class="page-item prev-page">
                    <a aria-label="Previous" class="page-link">
                      <span aria-hidden="true">
                        <i aria-hidden="true" class="fa fa-angle-left"></i>
                      </span></a>
                    </li>
                    <li class="page-item active">
                      <a class="page-link">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link">2</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link">3</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link">4</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link">5</a>
                    </li>
                    <li class="page-item next-page disabled">
                      <a aria-label="Next" class="page-link">
                        <span aria-hidden="true">
                          <i aria-hidden="true" class="fa fa-angle-right"></i>
                        </span>
                      </a>
                    </li>
                </ul> -->

                <template>
                  <paginate
                    v-model="page"
                    :page-count="result_count"
                    :page-range="3"
                    :margin-pages="2"
                    :click-handler="clickPaginasi"
                    :prev-text="'<'"
                    :next-text="'>'"

                    :container-class="'pagination'"
                    :page-link-class="'page-link'"
                    :page-class="'page-item'"
                    :prev-class="'page-item prev-page'"
                    :prev-link-class="'page-link'"
                    :next-class="'page-item next-page'"
                    :next-link-class="'page-link'"
                    >

                  </paginate>
                </template>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { checker_api } from "../../../routes/checker_api"
  import swal from 'sweetalert2';
  import 'sweetalert2/dist/sweetalert2.css';
  import FileInput from '@/components/Inputs/FileInput'
  import axios from "axios";
  import http from "http";
  import router from "../../../routes/router";
  import { Table, TableColumn, DropdownMenu, DropdownItem, Dropdown, Tooltip } from 'element-ui'

  import { BasePagination , Modal, BaseAlert } from '@/components';

  // import VueSimpleSuggest from 'vue-simple-suggest'
  // import 'vue-simple-suggest/dist/styles.css' // Optional CSS
  import VueSuggest from 'vue-simple-suggest/lib'
  import Paginate from 'vuejs-paginate'
  export default {
    name: 'list_travel-agent',
    components: {
      VueSuggest,
      'paginate': Paginate,
      // BasePagination,
      [Tooltip.name]: Tooltip,
      [Table.name]: Table,
      [TableColumn.name]: TableColumn,
      [Dropdown.name]: Dropdown,
      [DropdownItem.name]: DropdownItem,
      [DropdownMenu.name]: DropdownMenu,
    },
    data() {
      return {
        selected: null,
        model: null,
        mode: 'input',
        loading: false,
        log: [],
        input: {
          search: '',
        },
        checkboxes: {
          unchecked: false,
          checked: true,
          uncheckedDisabled: false,
          checkedDisabled: true
        },
        radios: {
          radio1: 'checked',
          radio2: 'checked'
        },
        modals: {
          detail_travel: false,
          company: null,
          owner: null,
          email: null,
          website: null,
          country: null,
          logo: null,
        },
        users : [],
        // users ,
        currentPage: 1,
        page: 1,
        result_count: 0,

      }
    },

    mounted() {
      if ( localStorage.getItem('role') !== 'admin_administrasi' ) {
        router.push({ name: "Dashboard"});
      }
      this.allTravelagent()
    },

    methods: {
      allTravelagent (){
        let obj = this;
        axios
          .get("/travel/all_travelagent", {
            headers: {
              'Content-Type': 'Application/Json',
              'Authorization': 'Bearer ' + localStorage.getItem('access')
            }
          })
          .then(function(response) {
            obj.users = response.data.results

            const n = response.data.count
            const ditampilkan = 1
            const halaman = n % 1 + Math.floor( n / ditampilkan )
            obj.result_count = halaman
          })
      },
      boldenSuggestion(scope) {
        if (!scope) return scope;
        const { suggestion, query } = scope;
        let result = this.$refs.suggestComponent.displayProperty(suggestion);
        if (!query) return result;
        const texts = query.split(/[\s-_/\\|\.]/gm).filter(t => !!t) || [''];
        return result.replace(new RegExp('(.*?)(' + texts.join('|') + ')(.*?)','gi'), '$1<b>$2</b>$3');
      },
      goto (url) {
        window.open(url, '_blank').focus()
      },
      addToLog (name, e) {
        this.log.push(name)
        // console.log.apply(console, arguments);
        // this.$nextTick(() => {
        //   this.$refs.log.scrollTop = this.$refs.log.scrollHeight;
        // })
      },
      onFocus (e) {
        // console.log('onFocus' , e)
        this.addToLog('focus', e)
      },
      onBlur (e) {
        // console.log('onBlur')
        this.addToLog('blur', e)
      },
      onShowList () {
        console.log('onShowList')
        this.addToLog('show-list')
      },
      onHideList () {
        // console.log('onHideList')
        this.allTravelagent()
        this.addToLog('hide-list')
      },
      onSuggestClick (suggest, e) {
        // console.log('onSuggestClick')
        this.addToLog('suggestion-click', suggest, e)
      },
      onSuggestSelect (suggest) {
        // console.log('onSuggestSelect', suggest)
        //
        // console.log(suggest.id)
        // console.log(suggest.username)
        // console.log(suggest.email)

        this.addToLog('select', suggest)
        this.selected = suggest

        let obj = this;
        axios
          .get("/travel/search_username/?search="+ suggest.email , {
          })
          .then(function(response) {
            obj.users = response.data.results

            const n = response.data.count
            const ditampilkan = 1
            const halaman = n % 1 + Math.floor( n / ditampilkan )
            obj.result_count = halaman
          })

      },
      onSuggestHover (suggestion) {
        // console.log('onSuggestHover')
        this.addToLog('hover', suggestion);
      },
      onRequestStart (value) {
        // console.log('onRequestStart')
        this.loading = true
        this.addToLog('request-start', value)
      },
      onRequestDone (e) {
        // console.log('onRequestDone')
        this.loading = false
        this.addToLog('request-done', e)
      },
      onRequestFailed (e) {
        // console.log('onRequestFailed')
        this.loading = false
        this.addToLog('request-failed', e)
      },
      getList (inputValue) {
        return new Promise((resolve, reject) => {
          let url = `http://localhost:8000/travel/search_travelagent/?search=`+inputValue
          // this.$refs.suggestComponent.clearSuggestions()
          fetch(url).then(response => {
            if (!response.ok) {
              reject()
            }
            response.json().then(json => {
              let autocompleteText = json.shift()
              let result = []
              const fields = ['id', 'username', 'email']
              json.forEach((part, i) => {
                part.forEach((el, j) => {
                  if (!result[j]) {
                    result.push({
                      id: j+1
                    })
                  }
                  result[j][fields[i]] = el
									// console.log(result)
                })
              })
							resolve(result)
              // resolve([...(json.items || [])])
            }).catch(e => {
              reject(e)
            })
          }).catch(error => {
            this.loading = false
            reject(error)
          })
        })
      },

      // Table function
      verifiedTravelagent(row) {
        // console.log(row.is_verified)
        // console.log(row)
        let obj = this;
        console.log(row.is_verified)
        axios
          .put("/travel/verify_document_travel_agent/"+ row.id, {
            is_activated: row.is_verified,
            headers: {
              'Content-Type': 'Application/Json',
              'Authorization': 'Bearer ' + localStorage.getItem('access')
            }
          })
          .then(function(response) {
            console.log(response)
            if (response.status == 200 ) {
              swal.fire({
                title: `Success`,
                text: response.data.message,
                buttonsStyling: false,
                customClass: {
                  confirmButton: 'btn btn-success'
                },
                icon: 'success'
              });
            }
            // obj.users = response.data.results
          })
          .catch(error => {
            console.log(error.response.data);
            swal.fire({
              title: `Warning`,
              text: 'Oh No!!!',
              buttonsStyling: false,
              customClass: {
                confirmButton: 'btn btn-warning'
              },
              icon: 'warning'
            })
          });
      },
      onDetail(row) {
        this.modals.detail_travel = true
        this.modals.company = row.company_name
        this.modals.owner = row.owner.username
        this.modals.email = row.owner.email
        this.modals.website = row.company_website
        this.modals.country = row.country.name
        this.modals.logo = row.logo
        // console.log('ehem')
        // alert(`You want to delete ${row.name}`)
      },
      onDelete(row) {
        alert(`You want to delete ${row.name}`)
      },
      clickPaginasi: function(pageNum) {
        let obj = this;
        console.log(pageNum)
        axios
          .get("/travel/all_travelagent?page="+ pageNum, {
            headers: {
              'Content-Type': 'Application/Json',
              'Authorization': 'Bearer ' + localStorage.getItem('access')
            }
          })
          .then(function(response) {
            obj.users = response.data.results
          })
          .catch(error => {
            console.log('error',error.response)
            checker_api.checker_api()
          });
      }
    }
  }
</script>

<style>
  .no-border-card .card-footer{
    border-top: 0;
  }
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    margin: 60px auto 0;
    width: 800px;
    height: 792px;
    display: flex;
  }
  #app .log-container .title {
    position: sticky;
  }
  #app .example {
    width: 506px;
  }
  #app .example,
  #app .log-container,
  #app .log {
    padding: 0 16px;
  }
  #app .log-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 230px;
    max-width: 230px;
  }
  #app .log {
    height: 100%;
    border-radius: 3px;
    border: 1px solid #aaa;
    text-align: right;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  #app .log pre {
    white-space: pre-wrap;
  }
  #app pre.selected {
    margin: 8px 0;
    height: 295px;
    overflow-x: scroll;
    overflow-y: scroll;
    border: 1px solid #cde;
    border-radius: 4px;
  }
  #app .v-model-event {
    background-color: white;
    border: 1px solid #cde;
    border-radius: 4px;
  }
  #app .v-model-event.selected {
    color: red;
  }
  #app .v-model-event:hover {
    border: 1px solid #2874D5;
    background-color: #2874D5;
    color: white;
  }
  #app .vue-simple-suggest .suggest-item .text {
    display: inline-block;
    line-height: 1;
    vertical-align: text-bottom;
    overflow: hidden;
    max-width: 72%;
    text-overflow: ellipsis;
  }
  #app .vue-simple-suggest .suggest-item .text span {
    white-space: nowrap;
  }
  #app .vue-simple-suggest .suggest-item button {
    float: right;
    line-height: 1;
    margin-left: 4px;
  }
  .vue-simple-suggest-enter-active.suggestions,
  .vue-simple-suggest-leave-active.suggestions {
    transition: opacity .2s;
  }
  .vue-simple-suggest-enter.suggestions,
  .vue-simple-suggest-leave-to.suggestions {
    opacity: 0 !important;
  }
</style>
