<template>

   <div class="card">
      <div class="card-header">
          <h1 v-if="editmode">Edit Office</h1>
            <h1 v-else>Add Office</h1></div>
      <div class="card-body">
        <base-input label="Office Address" name="Office address" placeholder="Office Address" v-model="model.address"/>
		<base-input label="Office Phone1" name="phone1" placeholder="Office Phone1" v-model="model.phone1"/>
        <base-input label="Office Phone2" name="phone2" placeholder="Office Phone2" v-model="model.phone2"/>
        <base-input label="Country" name="country" placeholder="Country" v-model="model.country"/>
        <base-input label="State" name="state" placeholder="State" v-model="model.state"/>
        <base-input label="City" name="city" placeholder="city" v-model="model.city"/>
        <base-input label="latitude" name="latitude" placeholder="latitude" v-model="model.latitude"/>
        <base-input label="longitude" name="logintude" placeholder="longitude" v-model="model.logitude"/>
      </div>
    </div>
</template>

<script>

export default {
    props:{
        editmode:Boolean
    },
    data() {
       return {
           model:{
               address:'',
               phone1:'',
               phone2:'',
               city:'',
               state:'',
               country:'',
               latitude:'',
               logintude:''
           }
       }
   },
      
    };
    </script>