<template>
    <div class="card text-center">

		<div class="card-header">
			<h3 class="panel-title">Please Complete Your Profiles</h3>
		</div>
		<div class="card-body">
			<div class="row centered">

        		<div class="col-xl-12 col-sl-8 col-md-4 col-sm-offset-2 col-md-offset-4">
			    			<div class="row">
								<div class="col ">
									
										 <base-input label="First Name" name="firstname" placeholder="First Name" required v-model="model.firstname"/>
									
									
										<base-input label="Last Name" name="lastname" placeholder="Last Name" required v-model="model.lastname"/>
									
								</div>
			    				<div class="col col-lg-2">
									<div class="card">
										<div class="card-header">upload profile picture</div>
										<div class="card-body">
											<dropzone-file-upload id=upload v-model="fileImage"></dropzone-file-upload>	
									</div>
									</div>
									
			    					
			    				</div>
			    				
			    			</div>

							<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					 <base-input label="Date of Birth" name="Date of Birth" placeholder="Date of Birth" required v-model="model.firstname" addon-left-icon="ni ni-calendar-grid-58">
									 	<flat-picker slot-scope="{focus, blur}"
											@on-open="focus"
											@on-close="blur"
											:config="{allowInput: true}"
											class="form-control datepicker"
											v-model="model.dob">
										</flat-picker>
									 </base-input>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					    <base-input label="Gender" v-model="model.gender">
											<select class="form-control">
											<option>male</option>
											<option>female</option>
											</select>
										</base-input>
			    				</div>
			    			</div>

			    			<div class="form-group">
								<base-input label="Occupation"
									name="Occupation"
									placeholder="Occupation"
									v-model="model.occupation">
							</base-input>
							</div>
                            <div class="form-group">
			    				<base-input label="Username"
									name="Username"
									placeholder="Username"
									required
									v-model="model.username">
							</base-input>
			    			</div>

			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password" v-model="password">
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
			    						<input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-sm" placeholder="Confirm Password" v-model="confirm_password">
			    					</div>
			    				</div>
			    			</div>
							
								
							

			    			<input type="submit" value="Register to On Journey" class="btn btn-info btn-block">
			    		
			    	
			    	</div>
	    		</div>
    		</div>
    
        
    </div>
</template>
<script>
import DropzoneFileUpload from '@/components/Inputs/DropzoneFileUpload'
import BaseInput from '@/components/Inputs/BaseInput'
import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";

export default {
	components: {
    DropzoneFileUpload,
	BaseInput,
	flatPicker
  },
  data() {
      return {
		  model:{
			firstname: '',
			lastname:'',
			email:'',
			dob:'',
			gender:'',
			occupation:'',
			username:'',
			password: '',
			confirm_password: '',
			fileImage:[]
      	}
	  };
  },
}

</script>