<template>
    <div class="card text-left">
		<div class="card-header">
			<h3 class="panel-title">Register Travel Agents Company</h3>
		</div>
		<div class="card-body">
			<div class="row centered">
        		<div class="col-xl-12 col-sl-8 col-md-4 col-sm-offset-2 col-md-offset-4">
              <validation-observer v-slot="{handleSubmit}" ref="formValidator">
                <form role="form" @submit="onSubmit">
			    			<div class="row">
								<div class="col ">

								<base-input label="Company Name" required name="company name" placeholder="Company Name" v-model="model_data.company_name"/>
								<base-input label="Company Website" name="website" placeholder="Company Website" v-model="model_data.company_website"/>
                                    <base-input required label="Company Facebook" name="facebook" placeholder="Company Facebook" v-model="model_data.facebook"/>
                                    <base-input required label="Company Twitter" name="twitter" placeholder="Company Website" v-model="model_data.twitter"/>

								</div>
			    				<div class="col col-lg-2">
									<div class="card ">
										<div class="card-header">upload logo</div>
										<div class="card-body">
											<dropzone-file-upload type="file" @change="handleLogo()" ref="file" v-model="model_data.logo"></dropzone-file-upload>
  									</div>
									</div>
			    				</div>
			    			</div>
			    			<!-- <base-input label="Home Country" name="country" placeholder="Country" required v-model="model_data.country"></base-input> -->

                <!--  -->
                <!--  -->
                <span placeholder="Country">
		    				<div class="form-group">
                  <label class="form-control-label"> Home Country </label>
								<div class="has-label ">
                  <vue-suggest class="asdad" pattern="\w+"
                    v-model="model"
            				:min-length="3"
            				:max-suggestions="15"
                    :list="getList"
                    :debounce="200"
                    :filter-by-query="false"
                    :mode="mode"
                    :nullable-select="true"
                    ref="suggestComponent"
                    value-attribute="id"
                    display-attribute="name"
                    @suggestion-click="onSuggestClick"
                    @select="onSuggestSelect"
                    @hover="onSuggestHover"
                    @focus="onFocus"
                    @blur="onBlur"
                    @request-start="onRequestStart"
                    @request-done="onRequestDone"
                    @request-failed="onRequestFailed"
                    @show-list="onShowList"
                    @hide-list="onHideList">
                    <div class="g">
                      <input type="text" required placeholder="Country">
                    </div>
                    <template slot="misc-item-above" slot-scope="{ suggestions, query }">
                      <div class="misc-item">
                        <span>Search '{{ query }}' ,
                          <span v-if="suggestions.length > 0">{{ suggestions.length }} result</span>
                          <span v-else-if="!loading">No results</span>
                        </span>
                      </div>
                    </template>
                    <div slot="suggestion-item" slot-scope="scope" :title="scope.suggestion.description">
                      <div class="col-sm-9">
                        <h1 class="display-4 mb-0"><span v-html="boldenSuggestion(scope)"></span></h1>
                      </div>
                    </div>
                    <div class="misc-item" slot="misc-item-below" slot-scope="{ suggestions }" v-if="loading">
                      <span>Loading...</span>
                    </div>
                  </vue-suggest>
                </div>
                </div>
                </span>
                <!--  -->
                <!--  -->

		    				<div class="card bg-primary">
									<div class="card-header bg-primary"><h1>upload legal documents</h1></div>
									<div class="card-body">
											<dropzone-file-upload type="file" @change="handleDocument()" ref="file" multiple v-model="model_data.document"></dropzone-file-upload>
									</div>
								</div>
			    			<input type="submit" value="Register Company" class="btn btn-info btn-block">
              </form>
            </validation-observer>
			    	</div>
    		</div>
  		</div>


    </div>
</template>
<script>

import axios from "axios";
import http from "http";
import router from "../../routes/router";
import swal from 'sweetalert2';
import 'sweetalert2/dist/sweetalert2.css';
import DropzoneFileUpload from '@/components/Inputs/DropzoneFileUpload'
import BaseInput from '@/components/Inputs/BaseInput'
import FileInput from '@/components/Inputs/FileInput'

import VueSuggest from 'vue-simple-suggest/lib'
import 'vue-simple-suggest/dist/styles.css'

export default {
	components: {
    DropzoneFileUpload,
  	BaseInput,
    VueSuggest,
    // FileInput,
  },
  data() {
      return {
		  model_data:{
    			company_name :'',
          company_website :'',
          email :'',
          facebook :'',
          twitter :'',
          country :'',
          name_document :'',
          logo :[],
          document:[]
      	},
      selected: null,
      model: null,
      mode: 'input',
      loading: false,
      log: [],
      input: {
        search: '',
      },

	  };
  },
  mounted() {
    if ( localStorage.getItem('role') !== 'traveler' ) {
      router.push({ name: "Dashboard"});
    }
  },
  methods: {
    onSubmit(e) {
      e.preventDefault();
      let currentObj = this;
      if (this.model_data.logo.length === 0 || this.model_data.document.length === 0 ){
        swal.fire({
          title: `Logo / Document`,
          text: 'Please Complete',
          buttonsStyling: false,
          customClass: {
            confirmButton: 'btn btn-danger'
          },
          icon: 'warning'
        })
      }
      else if (this.model_data.country == ''){
        swal.fire({
          title: `Country`,
          text: 'Not Found',
          buttonsStyling: false,
          customClass: {
            confirmButton: 'btn btn-danger'
          },
          icon: 'warning'
        })
      }
      else{
        const bodyFormData = new FormData();
        bodyFormData.append('company_name', this.model_data.company_name );
        bodyFormData.append('facebook', this.model_data.facebook );
        bodyFormData.append('twitter', this.model_data.twitter );
        bodyFormData.append('verification_token', localStorage.getItem('access') );
        bodyFormData.append('country', this.model_data.country );
        bodyFormData.append('logo', this.model_data.logo[0] );
        bodyFormData.append('document', this.model_data.document[0] );
        bodyFormData.append('document_name', this.model_data.document[0].name );
        bodyFormData.append('company_website', this.model_data.company_name );

        axios
          .post("/travel/travelagents_registration", bodyFormData)
          .then(function(response) {
            if (response.status == 201){
              console.log(response.status)
              swal.fire({
                title: `Success`,
                text: response.statusText,
                buttonsStyling: false,
                customClass: {
                  confirmButton: 'btn btn-success'
                },
                icon: 'success'
              });
            }
            else{
              swal.fire({
                title: `Warning`,
                text: 'Oh No!!!',
                buttonsStyling: false,
                customClass: {
                  confirmButton: 'btn btn-warning'
                },
                icon: 'warning'
              })
            }
          })
          .catch(function(error) {
            console.log(error)
          });
        }
    },
    handleLogo() {
      // this.model.logo = this.$refs.file.files[0]
      // this.model.logo = this.$refs.file.files[0]
      console.log(this.model_data.logo[0].type)
    },
    handleDocument() {
      // this.model.document = this.$refs.file.files[0]
      // this.model.document = this.$refs.file.files[0]
      // this.model.name_document = this.model.document.name
      console.log(this.model_data.document[0])
    },

    boldenSuggestion(scope) {
      if (!scope) return scope;
      const { suggestion, query } = scope;
      let result = this.$refs.suggestComponent.displayProperty(suggestion);
      if (!query) return result;
      const texts = query.split(/[\s-_/\\|\.]/gm).filter(t => !!t) || [''];
      return result.replace(new RegExp('(.*?)(' + texts.join('|') + ')(.*?)','gi'), '$1<b>$2</b>$3');
    },
    goto (url) {
      window.open(url, '_blank').focus()
    },
    addToLog (name, e) {
      this.log.push(name)
    },
    onFocus (e) {
      this.addToLog('focus', e)
    },
    onBlur (e) {
      this.addToLog('blur', e)
    },
    onShowList () {
      console.log('onShowList')
      this.addToLog('show-list')
    },
    onHideList () {
      this.addToLog('hide-list')
    },
    onSuggestClick (suggest, e) {
      this.addToLog('suggestion-click', suggest, e)
    },
    onSuggestSelect (suggest) {
      this.addToLog('select', suggest)
      this.selected = suggest

      this.model_data.country = suggest.id
      console.log(suggest.id , suggest.name)

    },
    onSuggestHover (suggestion) {
      // console.log('onSuggestHover')
      this.addToLog('hover', suggestion);
    },
    onRequestStart (value) {
      // console.log('onRequestStart')
      this.loading = true
      this.addToLog('request-start', value)
    },
    onRequestDone (e) {
      // console.log('onRequestDone')
      this.loading = false
      this.addToLog('request-done', e)
    },
    onRequestFailed (e) {
      // console.log('onRequestFailed')
      this.loading = false
      this.addToLog('request-failed', e)
    },
    getList (inputValue) {
      return new Promise((resolve, reject) => {
        let url = `http://localhost:8000/common_data/search_countries/?search=`+inputValue
        // this.$refs.suggestComponent.clearSuggestions()
        fetch(url).then(response => {
          if (!response.ok) {
            reject()
          }
          response.json().then(json => {
            let autocompleteText = json.shift()
            let result = []
            const fields = ['id', 'code', 'name' , 'currency']
            json.forEach((part, i) => {
              part.forEach((el, j) => {
                if (!result[j]) {
                  result.push({
                    id: j+1
                  })
                }
                result[j][fields[i]] = el
                // console.log(result)
              })
            })
            resolve(result)
            // resolve([...(json.items || [])])
          }).catch(e => {
            reject(e)
          })
        }).catch(error => {
          this.loading = false
          reject(error)
        })
      })
    },



  }
}

</script>
